Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: \.test\.tsx\.snap|\.yarn\/releases\/.*\.cjs$
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
        exclude: \.yarn\/releases\/.*\.cjs$
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: detect-aws-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.1.0
    hooks:
      - id: prettier
        stages: [pre-commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        stages: [pre-commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [pre-commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh backend "make code/lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-graphql-concat
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-graphql-no-break-check
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
        require_serial: true
        language: script
        pass_filenames: false
      - id: frontend-lint
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh frontend "yarn lint"
        require_serial: false
        language: script
        pass_filenames: false

feat(backend:tools:generator): Add generator for list to graphql connections
  backend/.graphqlgen.yml
  backend/Makefile
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/graphqlgenerated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/tools/generator/graphqlgen/config.go
  backend/tools/generator/graphqlgen/generator.go
  backend/tools/generator/graphqlgen/main.go
Due: backend-lint

feat(backend): Remove old reflect code for graphql connections
  backend/pkg/golang-graphql-example/server/graphql/utils/connections.go
  backend/pkg/golang-graphql-example/server/graphql/utils/connections_test.go
Due: backend-lint

feat(backend): Improve graphql error message on cursor pagination management for public
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
Due: backend-lint

feat(backend:tools:generator:daogen): Add support for PatchUpdateByID
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat(backend:tools:generator:daogen): Add support for PermanentDeleteByID
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat(backend): Clean dependencies & regenerate & ignore graphqlgen in linter
  backend/.golangci.yaml
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
Due: backend-lint

feat(frontend): Clean dependencies
  frontend/yarn.lock
Due: none

feat(backend:tracing): Add method to allow creation of uncorrelated trace
  backend/pkg/golang-graphql-example/tracing/interface.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(backend:log): Add support for slog
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/log/log.go
  backend/pkg/golang-graphql-example/log/slog.go
Due: backend-lint

feat(frontend): Upgrade react-i18next
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Regenerate graphql code
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Enable new linters, fix linter errors
  backend/.golangci.yaml
  backend/pkg/golang-graphql-example/common/utils/server.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/log/slog.go
  backend/pkg/golang-graphql-example/tracing/interface.go
Due: backend-lint

fix(backend): Fix tempo configuration
  backend/.local-resources/tempo/tempo.yaml
Due: none

feat(frontend): Add support for WithTraceError that enable displaying trace id and/or request id for support
  frontend/package.json
  frontend/public/i18n-en.json
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/ClientProvider/WithTraceError.ts
  frontend/src/components/ClientProvider/index.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend): Add new method for event in traces
  backend/pkg/golang-graphql-example/tracing/interface.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
  backend/pkg/golang-graphql-example/tracing/trace.go
Due: backend-lint

feat(backend): Add dedicated config for tests in linter
  backend/.golangci.yaml
Due: none

feat(backend): Add context and trace in migrate db target
  backend/cmd/golang-graphql-example/target-migrate-db.go
  backend/pkg/golang-graphql-example/business/migration/interface.go
  backend/pkg/golang-graphql-example/business/migration/service.go
  backend/pkg/golang-graphql-example/business/services.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint

feat(backend): Remove pin version on ca-certificate
  backend/Dockerfile
  backend/Dockerfile.multiarch
Due: none

feat(backend): Add way to disable functions in daogen
  backend/.daogen.yml
  backend/tools/generator/daogen/config.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat: Add support for linter configuration validation
  .pre-commit-config.yaml
  backend/Makefile
Due: none

feat(frontend): Migrate to react-window v2
  frontend/package.json
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

fix: Fix pre-commit hook name
  .pre-commit-config.yaml
Due: none

chore(backend): Clean dependencies
  backend/go.sum
Due: none

feat(frontend): upgrade react hook linter & code
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/components/AutocompleteInfiniteScroll/AutocompleteInfiniteScroll.tsx
  frontend/src/components/filters/FilterDialog/FilterDialog.tsx
  frontend/src/components/filters/FilterPopper/FilterPopper.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.tsx
  frontend/src/components/form/FormAutocomplete/FormAutocomplete.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/yarn.lock
Due: frontend-lint

fix(frontend): Enhance sort order constant types
  frontend/src/models/general.ts
Due: frontend-lint

fix(frontend): Fix autobreadcrumb type to make disableTranslate optional
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

fix(frontend): Fix typescript types & models
  frontend/src/components/filters/FilterButton/FilterButton.stories.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.stories.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/sorts/SortButton/SortButton.stories.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.test.tsx
  frontend/src/models/general.ts
  frontend/src/models/todos.ts
Due: frontend-lint

feat(backend): Add new options to dao generated methods
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

chore: Release 3.44.0
  .project
Due: none

chore: New internal notes
  INTERNAL.md
Due: none

feat(backend): Add support for custom graphql structure name on graphqlgen
  backend/tools/generator/graphqlgen/config.go
  backend/tools/generator/graphqlgen/generator.go
Due: backend-lint

fix(backend): Fix wrong golangci lint skip on test files
  backend/.golangci.yaml
Due: none

fix(frontend): Fix autobreadcrumb translate on title
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
Due: frontend-lint

fix(frontend): Fix withTraceErrorLink observer code and logic following change from Apollo
  frontend/src/components/ClientProvider/ClientProvider.tsx
Due: frontend-lint

fix(frontend): Fix FixedBreadcrumb format
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
Due: frontend-lint

feat: wip
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/utils/axios-error.ts
Due: frontend-lint

feat(frontend:ErrorDisplay): Add support for AxiosError and WithTraceError on AxiosError
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/utils/axios-error.ts
Due: frontend-lint

feat(backend): Regenerate and lint code
  backend/.golangci.yaml
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/interface.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none
