Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: \.test\.tsx\.snap|\.yarn\/releases\/.*\.cjs$
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
        exclude: \.yarn\/releases\/.*\.cjs$
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: detect-aws-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.1.0
    hooks:
      - id: prettier
        stages: [pre-commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        stages: [pre-commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [pre-commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh backend "make code/lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-graphql-concat
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-graphql-no-break-check
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
        require_serial: true
        language: script
        pass_filenames: false
      - id: frontend-lint
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh frontend "yarn lint"
        require_serial: false
        language: script
        pass_filenames: false

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(backend): Add support to get projection of any subfields
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/utils/projection.go
Due: backend-lint

feat(backend): Change funk to samber/lo when possible
  backend/cmd/golang-graphql-example/main.go
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
  backend/pkg/golang-graphql-example/server/graphql/utils/projection.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
Due: backend-lint

feat: Improve renovate configuration, makefile and Dockerfile
  backend/Dockerfile
  backend/Dockerfile.multiarch
  backend/Makefile
  renovate.json
Due: none

fix: Ignore voyager project in renovate
  renovate.json
Due: none

fix: Remove post upgrade tasks as it isn't supported
  renovate.json
Due: none

fix: Fix renovate configuration
  renovate.json
Due: none

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Better integration of maxprocs
  backend/cmd/golang-graphql-example/main.go
  backend/go.sum
Due: backend-lint

feat: Group frontend & backend dependencies into 2 PR
  renovate.json
Due: none

fix(frontend): Remove deprecated dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

fix(backend): Change goreleaser usage
  backend/Makefile
Due: none

fix: Regenerate and clean dependencies
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
Due: backend-lint

feat: Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend:messagebus:amqp): Add a way to add disable retry on channel closed on consume method
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

feat(frontend): Upgrade dependencies and patch storybook error
  frontend/package.json
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/yarn.lock
Due: frontend-lint

fix(backend:messagebus:amqp): Fix Extra Setup function
  backend/pkg/golang-graphql-example/messagebus/amqp/setup.go
Due: backend-lint

feat(backend:signalhandler): Add a way to ignore path in active request counter http middleware
  .gitleaksignore
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/signalhandler/server.go
Due: backend-lint

fix(frontend): Add assets in vitejs
  frontend/vite.config.mts
Due: none

feat(frontend:components:form:FormInput): Improve error management
  frontend/src/components/form/FormInput/FormInput.tsx
Due: frontend-lint

chore: Fix renovate configuration
  renovate.json
Due: none

fix(frontend): Fix universal-cookie install
  frontend/package.json
  frontend/yarn.lock
Due: none

chore: Fix renovate configuration for go packages
  renovate.json
Due: none

fix(backend): Fix makefile annotation for renovate
  backend/Makefile
Due: none

feat: Add mise configuration files
  backend/.mise.toml
  frontend/.mise.toml
  renovate.json
Due: none

chore: Ignore universtal-cookie dependencies in renovate
  renovate.json
Due: none

feat(backend): Regenerate with new tools
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/authx/authorization/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_AuthorizationService.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
  backend/pkg/golang-graphql-example/config/mocks/mock_MetricsService.go
  backend/pkg/golang-graphql-example/database/mocks/mock_DB.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Email.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
Due: backend-lint

feat(frontend:components:form:FormAutocomplete): Improve error management
  frontend/src/components/form/FormAutocomplete/FormAutocomplete.tsx
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Change rabbitmq version
  backend/Makefile
Due: none

fix(backend): Fix rabbitmq image version integration with renovate
  backend/Makefile
Due: none

feat(frontend): Upgrade dependencies & update test snapshots
  frontend/package.json
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

fix(frontend): rollback react router to v6
  frontend/.jest/jest.setup.cjs
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

fix(backend): Fix ca-certificates version
  backend/Dockerfile
Due: none

feat: Add bearer ignore file
  bearer.ignore
Due: none

fix(backend:server:graphql): Add utf8 validation on from id relay transformation
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
  backend/pkg/golang-graphql-example/server/graphql/utils/utils_test.go
Due: backend-lint
