Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

backend-lint:
  stages:
  - pre-commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh backend "make code/lint"
  require_serial: false
  language: script
  pass_filenames: false

backend-graphql-concat:
  stages:
  - pre-commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
  require_serial: true
  language: script
  pass_filenames: false

backend-graphql-no-break-check:
  stages:
  - pre-commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
  require_serial: true
  language: script
  pass_filenames: false

frontend-lint:
  stages:
  - pre-commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh frontend "yarn lint"
  require_serial: false
  language: script
  pass_filenames: false

fix(frontend:utils): Add forgotten header
  frontend/src/utils/axios-error.ts
Due: frontend-lint

refactor(frontend): Refactor WithTraceError
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/ClientProvider/WithTraceError.ts
  frontend/src/components/ClientProvider/index.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/utils/WithTraceError.ts
  frontend/src/utils/axios-error.ts
Due: frontend-lint

chore: Release 3.45.0
  .project
Due: none

chore: Lint & gqlgen run
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/sort.go
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

chore(frontend): Prettier frontend correctly
  .pre-commit-config.yaml
  frontend/package.json
Due: none

chore(frontend): Patch eslint configuration for typescript
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Due: none

chore(frontend): Patch eslint configuration for typescript and import-x
  frontend/eslint.config.mjs
Due: none

fix(graphql): Fix memory leak on common loaders functions
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders.go
Due: backend-lint

chore: Regenerate snapshots & generated code due to upgrade
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

fix(backend:server:graphql:dataloaders): Fix no error returned from dataloaders
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/errors.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders.go
Due: backend-lint

fix(backend:generator:daogen): Check unique path in dao list
  backend/tools/generator/daogen/config.go
Due: backend-lint

fix(backend): Upgrade golang version declaration
  backend/go.mod
Due: none

chore(backend): Clean dependencies
  backend/go.sum
Due: none

ci: Upgrade golang
  .github/workflows/ci.yml
Due: none

feat(frontend): Upgrade unicorn to major upgrade
  frontend/package.json
  frontend/yarn.lock
Due: none

fix(backend:lockdistributor): Fix lock distributor to avoid releasing heartbeat and so lock just after acquiring it
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Due: backend-lint

test(backend:lockdistributor): Add integration tests
  backend/pkg/golang-graphql-example/lockdistributor/sql/integration_test.go
Due: backend-lint

feat(backend:server): Add new log functions for graphql fields
  backend/pkg/golang-graphql-example/log/middleware.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Add support for air command
  backend/.mise.toml
  backend/Makefile
Due: none

feat(frontend): Ensure all json in build are minified
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Clean dependencies & regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/tools/generator/daogen/config.go
Due: backend-lint

feat(frontend): Add unicorn linter rules
  frontend/eslint.config.mjs
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/ProgressiveImg/ProgressiveImg.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/TopBar/TopBarUserMenu.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/utils.ts
  frontend/src/components/filters/utils/mainSearch.ts
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcherProvider/GridTableViewSwitcherProvider.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/components/theming/IconToggleColorMode/IconToggleColorMode.test.tsx
  frontend/src/components/theming/ThemeProvider/ThemeProvider.tsx
  frontend/src/components/theming/ToggleColorModeMenuItem/ToggleColorModeMenuItem.test.tsx
  frontend/src/components/timezone/TimezoneProvider/TimezoneProvider.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/src/models/config.ts
  frontend/src/utils/pagination.test.tsx
  frontend/src/utils/pagination.ts
  frontend/src/utils/urlSearchParams.test.tsx
  frontend/src/utils/urlSearchParams.ts
Due: frontend-lint

feat(backend): Clean dependencies & regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Switching to new vite & rework configuration & let rolldown build chunks
  frontend/package.json
  frontend/vite.config.mts
  frontend/yarn.lock
Due: none

chore: Release 3.46.0
  .project
Due: none

fix(frontend): Fix vitejs configuration to have right code splitting
  frontend/vite.config.mts
Due: none

feat(frontend): Upgrade dependencies
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

feat: Add CLAUDE.md files
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

feat(backend): Update golang in go.mod
  backend/go.mod
  backend/go.sum
Due: none

fix(frontend): Fix storybook build
  frontend/.storybook/i18next.mjs
  frontend/.storybook/preview.ts
Due: frontend-lint

feat(backend): Add option to disable graphql logs
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

style(backend): Lint code
  backend/pkg/golang-graphql-example/config/credential-loader.go
Due: backend-lint

feat: Add new rules to Claude
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/yarn.lock
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
