Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

fix(backend:config): Fix validation on tracing and tests
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
Due: backend-lint

test(backend): Regenerate tracing mocks and clean dependencies
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
Due: backend-lint

feat(backend): Upgrade dependencies and linter
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

style(frontend): Clean dead code
  frontend/src/components/form/FormAutocomplete/FormAutocomplete.tsx
Due: frontend-lint

feat(backend:database:common): Add support for lower/upper on field and value on filters
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/database/common/filter_test.go
Due: backend-lint

feat(backend:graphql): Add support of field lower and upper cases in string filter
  backend/graphql/utils.graphql
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

refactor(frontend:PageDrawer): Rename methods
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/contexts/PageDrawerSettingsContext.tsx
Due: frontend-lint

refactor(frontend:theming:ThemeProvider): Refactor to pin cookie name
  frontend/src/components/theming/ThemeProvider/ThemeProvider.tsx
Due: frontend-lint

feat(frontend:gridTableViewSwitch): Change implementation to have grid/table switch as settings
  frontend/src/App.tsx
  frontend/src/components/GridTableViewSwitcher/GridTableViewSwitcher.test.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/GridTableViewSwitcher.stories.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/GridTableViewSwitcher.test.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/GridTableViewSwitcher.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/index.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcherProvider/GridTableViewSwitcherProvider.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcherProvider/index.tsx
  frontend/src/contexts/GridTableViewSwitcherContext.tsx
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

feat: Add better support for junit reports, also add cobertura reports and linter gitlab code climate outputs
  .gitignore
  backend/Makefile
  frontend/jest.config.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Add CaseInsensitive field in filters, change GraphQL api
  backend/graphql/utils.graphql
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/database/common/filter_test.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

feat(backend): Finally add support for case insensitve, value lowercase and uppercase on In and NotIn filters
  backend/graphql/utils.graphql
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/database/common/filter_test.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

feat(frontend): Add support for case insensitive and made it by default on all string filters
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/utils.test.ts
  frontend/src/components/filters/internal/utils.ts
  frontend/src/models/general-operations.ts
  frontend/src/models/general.ts
Due: frontend-lint

feat(frontend): Change date picker, allow to inject date by typing it, remove old dayjs workaround
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/AdapterDayjsTZ.ts
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
Due: frontend-lint

feat: Improve pre-commit script hooks
  .pre-commit-config.yaml
Due: none

feat(frontend): Improve eslint & typescript configurations, run them concurrently and enable cache/incremental to improve speed
  frontend/.eslintrc
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

feat(frontend): Enable case insensitive for main searches
  frontend/src/components/filters/utils/mainSearch.ts
Due: frontend-lint

feat(frontend:components:filters): Add stories with predefined filters
  frontend/src/components/filters/FilterButton/FilterButton.stories.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.stories.tsx
Due: frontend-lint

fix(frontend:components:drawer:ContentDisplayDrawer): Fix left menu that cannot be closed
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
Due: frontend-lint

feat(frontend): Enable react-hooks eslint rules and update code with those new rules
  frontend/.eslintrc
  frontend/src/components/ConfigProvider/ConfigProvider.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcherProvider/GridTableViewSwitcherProvider.tsx
  frontend/src/components/theming/ThemeProvider/ThemeProvider.tsx
  frontend/src/components/timezone/TimezoneProvider/TimezoneProvider.tsx
Due: frontend-lint

feat(frontend): Add and enable unicorn rules
  frontend/.eslintrc
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/utils/pagination.ts
  frontend/yarn.lock
Due: frontend-lint

fix: Remove pass filenames option from frontend lint
  .pre-commit-config.yaml
Due: none

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Switch to Yarn Modern
  .gitignore
  .pre-commit-config.yaml
  frontend/.yarn/releases/yarn-3.6.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Due: none

feat: Switch to npm global install for general dependencies
  install-deps.sh
Due: none

feat(frontend): Add bundle analyze report
  .gitignore
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: frontend-lint

chore: Release 3.27.0
  .project
Due: none

fix(backend:tracing): Fix no configuration won't create a noop management
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

fix(backend): Fix Dockerfile with pin version and remove cache
  backend/Dockerfile
Due: none

ci: Fix backend test step
  .github/workflows/ci.yml
Due: none

fix(frontend): Do not open bundle analyze on build
  frontend/vite.config.ts
Due: frontend-lint

fix(backend:tracing): Fix service name
  backend/pkg/golang-graphql-example/tracing/http-middleware.go
Due: backend-lint

feat(frontend): Upgrade dependencies & tests
  frontend/.yarn/releases/yarn-3.6.1.cjs
  frontend/.yarn/releases/yarn-3.6.3.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.test.tsx
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

feat: Migrate stage in pre-commit
  .pre-commit-config.yaml
Due: none
