Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

feat(backend): Upgrade golangci-lint
  .github/workflows/ci.yml
  backend/Makefile
Due: none

feat(backend): Upgrade all tools versions
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/authx/authentication/service_integration_test.go
  backend/pkg/golang-graphql-example/authx/authorization/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_AuthorizationService.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
  backend/pkg/golang-graphql-example/database/mocks/mock_DB.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Email.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
Due: backend-lint

fix(frontend): Fix dependencies lock
  frontend/yarn.lock
Due: none

ci: Upgrade CI to node 20
  .github/workflows/ci.yml
Due: none

feat(backend): Upgrade dependencies and remove deprecated jaeger opentelemetry
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat: Rework local entries to have a one line script
  .pre-commit-config.yaml
Due: none

feat(config): Automate discovery and load all credentials method
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/config/credential-loader_test.go
  backend/pkg/golang-graphql-example/config/impl.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
  backend/pkg/golang-graphql-example/config/manager.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
Due: backend-lint

chore: Release 3.28.0
  .project
Due: none

fix(config): Fix credential loader generic function
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/config/credential-loader_test.go
Due: backend-lint

feat(backend): Add support for external amqp username and password
  backend/conf/amqp.yaml
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Due: backend-lint

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/yarn.lock
Due: none

feat: Upgrade pre-commit dependencies
  .pre-commit-config.yaml
Due: none

feat(backend:config): Add support for CredentialConfig array on automatic credential loader
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/config/credential-loader_test.go
Due: backend-lint

ci: Add bearer rule check tests
  .github/workflows/ci.yml
Due: none

ci: Upgrade golang to 1.21
  .github/workflows/ci.yml
Due: none

feat: Add bearer configuration file
  bearer.yml
Due: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Upgrade yarn
  frontend/.yarn/releases/yarn-3.6.3.cjs
  frontend/.yarn/releases/yarn-3.6.4.cjs
  frontend/.yarnrc.yml
  frontend/package.json
Due: none

fix: Fix bearer configuration
  bearer.yml
Due: none

chore: Release 3.29.0
  .project
Due: none

feat(backend:lockdistributor): Add traces for lock and release
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Due: backend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

fix(lockdistributor): Fix lock trace name
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Due: backend-lint

feat(frontend): Upgrade dependencies, migrate to vite 5, upgrade yarn
  frontend/.jest/jest.global-setup.cjs
  frontend/.jest/jest.setup.cjs
  frontend/.storybook/i18next.cjs
  frontend/.storybook/preview.ts
  frontend/.yarn/releases/yarn-3.6.4.cjs
  frontend/.yarn/releases/yarn-4.0.2.cjs
  frontend/.yarnrc.yml
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Upgrade dependencies
  backend/Dockerfile
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/authx/authorization/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_AuthorizationService.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
  backend/pkg/golang-graphql-example/database/mocks/mock_DB.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Email.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/model/models_gen.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
Due: backend-lint

feat: Upgrade pre-commit dependencies & migrate to cjs
  .pre-commit-config.yaml
  release.config.cjs
Due: none

chore: Release 3.30.0
  .project
Due: none

feat(backend): Add more linters & patch code
  backend/.golangci.yaml
  backend/pkg/golang-graphql-example/log/log.go
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
Due: backend-lint

feat(frontend:components): Add ScrollOnTop component
  frontend/src/components/ScrollOnTop/ScrollOnTop.tsx
  frontend/src/components/ScrollOnTop/index.tsx
  frontend/src/components/TopBar/TopBar.tsx
Due: frontend-lint

feat(frontend:components): Add ProgressiveImg component
  frontend/src/components/ProgressiveImg/ProgressiveImg.tsx
  frontend/src/components/ProgressiveImg/index.tsx
Due: frontend-lint

feat(frontend): Upgrade yarn berry and update configuration to allow enabling or not global cache
  frontend/.yarn/releases/yarn-4.0.2.cjs
  frontend/.yarn/releases/yarn-4.1.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend:common:correlation-id): Change uuid generation to optimize speed
  backend/pkg/golang-graphql-example/common/correlation-id/correlation-id.go
Due: backend-lint

feat(backend:database): Change id generation to uuid v7 for better index
  backend/pkg/golang-graphql-example/database/basemodel.go
Due: backend-lint

fix(backend:database): Fix wrong tag for index on deleted at
  backend/pkg/golang-graphql-example/database/basemodel.go
Due: backend-lint

feat(backend:database): Add base with all indexes on all dates
  backend/pkg/golang-graphql-example/database/basemodel-with-all-indexes.go
Due: backend-lint
