Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, backend-lint-validate-configuration, frontend-lint, frontend-prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.2
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: \.test\.tsx\.snap|\.yarn\/releases\/.*\.cjs$
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
        exclude: \.yarn\/releases\/.*\.cjs$
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: detect-aws-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        stages: [pre-commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: check-not-implemented
        stages: [pre-commit]
        name: Check "not implemented"
        entry: ./.pre-commit/check-not-implemented.sh
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-lint
        stages: [pre-commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh backend "make code/lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-graphql-concat
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-graphql-no-break-check
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-lint-validate-configuration
        stages: [pre-commit]
        files: '\.golangci\.(?:yml|yaml|toml|json)'
        name: Backend validate linter configuration
        entry: ./run-sub-folder-task.sh backend "make code/lint/validate-config"
        require_serial: false
        language: script
        pass_filenames: false
      - id: frontend-lint
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh frontend "yarn lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: frontend-prettier
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend Prettier
        entry: ./run-sub-folder-task.sh frontend "yarn prettier"
        require_serial: false
        language: script
        pass_filenames: false

feat(backend): Remove harcoded concurrency
  backend/.golangci.yaml
Due: backend-lint-validate-configuration

feat(backend): Put right golang versions in CI and linter configuration
  .github/workflows/ci.yml
  backend/.golangci.yaml
  backend/go.sum
Due: backend-lint-validate-configuration

feat(frontend): Upgrade dependencies & snapshots
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend): Improve linter configuration & code
  backend/.golangci.yaml
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
  backend/pkg/golang-graphql-example/signalhandler/service.go
Due: backend-lint, backend-lint-validate-configuration

feat: wip
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/cmd/golang-graphql-example/target-business-metrics-exporter.go
  backend/pkg/golang-graphql-example/business/services.go
  backend/pkg/golang-graphql-example/business/todos/business-metrics.go
  backend/pkg/golang-graphql-example/business/todos/interface.go
  backend/pkg/golang-graphql-example/metrics/business-metrics-definition.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Due: backend-lint

feat: wip
  backend/pkg/golang-graphql-example/business/todos/business-metrics.go
  backend/pkg/golang-graphql-example/metrics/business-metrics-definition.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Due: backend-lint

feat(backend): Add support for business metrics
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/cmd/golang-graphql-example/target-business-metrics-exporter.go
  backend/pkg/golang-graphql-example/business/services.go
  backend/pkg/golang-graphql-example/business/todos/business-metrics.go
  backend/pkg/golang-graphql-example/business/todos/interface.go
  backend/pkg/golang-graphql-example/metrics/business-metrics-definition.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Due: backend-lint

feat(backend): Migrate golangci lint configuration
  backend/.golangci.yaml
Due: backend-lint-validate-configuration

feat: Add codegraph in gitignore
  .gitignore
Due: none

chore(backend): Clean dependencies
  backend/go.sum
Due: none

feat(backend): Upgrade postgresql to v18
  backend/Makefile
Due: none

feat(backend): Regenerate
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint
