Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

backend-lint:
  stages:
  - commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/lint
  require_serial: true
  language: script

backend-graphql-concat:
  stages:
  - commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/concat
  require_serial: true
  language: script

backend-graphql-no-break-check:
  stages:
  - commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/no-break-check
  require_serial: true
  language: script

frontend-lint:
  stages:
  - commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh
  args:
  - frontend
  - yarn lint
  require_serial: true
  language: script

fix(backend:server:graphql:dataloaders:common): Fix dataloader code to use correctly id key option
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/arrange-results.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders.go
Due: backend-lint

test(frontend:components:HelpForcedTooltip): Fix snapshot
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
Due: none

test(frontend:components:HelpTooltipButton): Fix snapshot
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
Due: none

fix(frontend): Force jest to run sequentially
  frontend/package.json
Due: none

feat(frontend:components:filters): Export props, add story, add tests and edit code
  frontend/src/components/filters/FilterButton/FilterButton.stories.tsx
  frontend/src/components/filters/FilterButton/FilterButton.tsx
  frontend/src/components/filters/FilterButton/index.tsx
  frontend/src/components/filters/FilterDialog/FilterDialog.tsx
  frontend/src/components/filters/FilterDialog/index.tsx
  frontend/src/components/filters/FilterPopper/FilterPopper.tsx
  frontend/src/components/filters/FilterPopper/index.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.stories.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.tsx
  frontend/src/components/filters/FilterSearchBar/index.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/index.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/index.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/index.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/index.tsx
  frontend/src/components/filters/internal/utils.ts
Due: frontend-lint

refactor(backend): Rename all Client interface to Service ones
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/authx/authentication/client.go
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Client.go
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/migration/client.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/client.go
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Client.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/metrics/client.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Client.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/signalhandler/client.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Client.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
Due: backend-lint

feat(frontend): Upgrade dependencies and impacts
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

refactor(frontend): Rename all handle methods to be aligned with onXXX actions
  frontend/src/components/AcceptDialog/AcceptDialog.stories.tsx
  frontend/src/components/AcceptDialog/AcceptDialog.tsx
  frontend/src/components/AutocompleteInfiniteScroll/AutocompleteInfiniteScroll.tsx
  frontend/src/components/ForcedTooltip/ForcedTooltip.tsx
  frontend/src/components/HelpForcedTooltip/HelpForcedTooltip.tsx
  frontend/src/components/HelpTooltipButton/HelpTooltipButton.tsx
  frontend/src/components/InfoForcedTooltip/InfoForcedTooltip.tsx
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/Pagination/Pagination.test.tsx
  frontend/src/components/Pagination/Pagination.tsx
  frontend/src/components/TopBar/TopBarUserMenu.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/OpenDrawerButton/OpenDrawerButton.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/filters/FilterButton/FilterButton.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/components/sorts/SortButton/SortButton.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Rework all errors to use options
  backend/pkg/golang-graphql-example/common/errors/conflict-error.go
  backend/pkg/golang-graphql-example/common/errors/conflict-error_test.go
  backend/pkg/golang-graphql-example/common/errors/forbidden-error.go
  backend/pkg/golang-graphql-example/common/errors/forbidden-error_test.go
  backend/pkg/golang-graphql-example/common/errors/generic-error-options.go
  backend/pkg/golang-graphql-example/common/errors/generic-error-options_test.go
  backend/pkg/golang-graphql-example/common/errors/internal-server-error.go
  backend/pkg/golang-graphql-example/common/errors/internal-server-error_test.go
  backend/pkg/golang-graphql-example/common/errors/invalid-input-error.go
  backend/pkg/golang-graphql-example/common/errors/invalid-input-error_test.go
  backend/pkg/golang-graphql-example/common/errors/locked-error.go
  backend/pkg/golang-graphql-example/common/errors/locked-error_test.go
  backend/pkg/golang-graphql-example/common/errors/not-found-error.go
  backend/pkg/golang-graphql-example/common/errors/not-found-error_test.go
  backend/pkg/golang-graphql-example/common/errors/too-many-requests-error.go
  backend/pkg/golang-graphql-example/common/errors/too-many-requests-error_test.go
  backend/pkg/golang-graphql-example/common/errors/unauthorized-error.go
  backend/pkg/golang-graphql-example/common/errors/unauthorized-error_test.go
  backend/pkg/golang-graphql-example/common/utils/server_test.go
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/sort.go
Due: backend-lint

feat(backend): Change log library from logrus to zap
  backend/cmd/golang-graphql-example/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/log/gorm-logger.go
  backend/pkg/golang-graphql-example/log/instance.go
  backend/pkg/golang-graphql-example/log/instance_test.go
  backend/pkg/golang-graphql-example/log/lockdistributor-logger.go
  backend/pkg/golang-graphql-example/log/log.go
  backend/pkg/golang-graphql-example/log/middleware.go
Due: backend-lint

fix(backend): Clean dependencies
  backend/go.sum
Due: none

fix(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: Adapt script for ubuntu 23.04
  install-deps.sh
Due: none

chore: Release 3.25.0
  .project
Due: none

refactor(backend): Rename client files into interface files and move some struct away
  backend/pkg/golang-graphql-example/authx/authentication/interface.go
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/authx/authorization/interface.go
  backend/pkg/golang-graphql-example/business/migration/interface.go
  backend/pkg/golang-graphql-example/business/todos/daos/interface.go
  backend/pkg/golang-graphql-example/business/todos/interface.go
  backend/pkg/golang-graphql-example/email/interface.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/interface.go
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
  backend/pkg/golang-graphql-example/tracing/interface.go
Due: backend-lint

refactor(frontend:components:GridTableViewSwitcher): Rename to onChange method name
  frontend/src/components/GridTableViewSwitcher/GridTableViewSwitcher.stories.tsx
  frontend/src/components/GridTableViewSwitcher/GridTableViewSwitcher.test.tsx
  frontend/src/components/GridTableViewSwitcher/GridTableViewSwitcher.tsx
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

test(frontend:components:GridTableViewSwitcher): Refactor tests
  frontend/src/components/GridTableViewSwitcher/GridTableViewSwitcher.test.tsx
Due: frontend-lint

fix(backend:log): Clean dead code...
  backend/pkg/golang-graphql-example/log/instance.go
Due: backend-lint

fix(backend): Fix linter configuration
  backend/.golangci.yaml
Due: none

fix(backend:messagebus:amqp): Fix wrong logger usage in consume method
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

fix(backend:messagebus:amqp): Close must panic if connection wasn't on
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Due: backend-lint

refactor(backend:metrics): Rename file to patch typo
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Due: backend-lint

refactor(backend): Refactor method names to be aligned with other packages
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/utils_integration_test.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
Due: backend-lint

test(backend:server): Move integration tests configuration in utils file
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/utils_integration_test.go
Due: backend-lint

test(backend:server): Rework internal server listen test
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
Due: backend-lint

test(backend:server): Add messages on all phases on test suite
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint

test(backend:server): Add goleak in internal server listen test
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
Due: backend-lint

chore: Release 3.25.1
  .project
Due: none

fix(backend:server:graphql): Remove unneeded go generate command
  backend/pkg/golang-graphql-example/server/graphql/resolver.go
Due: backend-lint

feat(backend:config): LoadCredential can now work with nil objects
  backend/pkg/golang-graphql-example/config/internal.go
Due: backend-lint

feat(frontend): Change router to new data router and change architecture
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/router-routes.tsx
Due: frontend-lint

feat(frontend:components:AutoBreadcrumb): Add component
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.storage-test.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/AutoBreadcrumb/index.tsx
  frontend/src/components/AutoBreadcrumb/types.ts
Due: frontend-lint

feat(frontend): Upgrade all dependencies and patch ErrorsDisplay code
  frontend/package.json
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/yarn.lock
Due: frontend-lint

fix(frontend:components:TopBar): Fix size and fix in flex
  frontend/src/components/TopBar/TopBarSpacer.tsx
Due: frontend-lint

feat(frontend:components:drawer): Rework PageDrawer to allow resize and collapse menu
  frontend/public/i18n-en.json
  frontend/src/components/MainContentWrapper/MainContentWrapper.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/drawer/PageDrawer/index.tsx
Due: frontend-lint

fix(frontend:components:TopBar): Fix TopBarSpacer to be more aligned with TopBar
  frontend/src/components/TopBar/TopBarSpacer.tsx
Due: frontend-lint

refactor(backend): Refactor local objects references in object functions
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Due: backend-lint

refactor(backend): Refactor metricsCl variables
  backend/cmd/golang-graphql-example/helpers.go
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/cmd/golang-graphql-example/target-server.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
