Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

backend-lint:
  stages:
  - pre-commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh backend "make code/lint"
  require_serial: false
  language: script
  pass_filenames: false

backend-graphql-concat:
  stages:
  - pre-commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
  require_serial: true
  language: script
  pass_filenames: false

backend-graphql-no-break-check:
  stages:
  - pre-commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
  require_serial: true
  language: script
  pass_filenames: false

frontend-lint:
  stages:
  - pre-commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh frontend "yarn lint"
  require_serial: false
  language: script
  pass_filenames: false

fix(frontend): Fix Jest error on configuration load
  frontend/jest.config.ts
Due: frontend-lint

test(frontend): Fix Math.random mock to avoid bad interactions with source-map
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
Due: frontend-lint

feat(frontend): Rename jest configuration to mts
  frontend/jest.config.mts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: none

feat(frontend): Reorder rules
  frontend/eslint.config.mjs
Due: none

feat(backend): Add dao generator tool
  backend/Makefile
  backend/daogen.yml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/pkg/golang-graphql-example/business/todos/daos/impl.go
  backend/pkg/golang-graphql-example/business/todos/daos/interface.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/service.go
  backend/tools/generator/daogen/config.go
  backend/tools/generator/daogen/generator.go
  backend/tools/generator/daogen/main.go
Due: backend-lint

feat(backend): Change configuration file name for dao generator tool
  backend/.daogen.yml
  backend/tools/generator/daogen/config.go
Due: backend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

feat(backend): put exclusion on daogen tools for linter
  backend/.golangci.yaml
Due: none

Revert "feat(frontend): Rename jest configuration to mts"
  frontend/jest.config.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: frontend-lint

feat(frontend): Migrate to apollo client v4
  frontend/.storybook/main.cts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/components/ErrorsDisplay/constants.ts
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.test.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.storage-test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/types.ts
  frontend/src/routes/Todos/Todos.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Add Eslint Unused imports rules and patch code
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(frontend:autobreadcrumb): GraphQL text display mustn't be translated
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
Due: frontend-lint

fix(backend:tools:generator): Clean commented code
  backend/tools/generator/daogen/generator.go
Due: backend-lint

fix(backend:tools:generator): Patch comments on configuration, Avoid duplicate alias on imports
  backend/.daogen.yml
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat(frontend:autobreadcrumb): GraphQL text display mustn't be translated reworked to be params
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

feat(frontend:autobreadcrumb): GraphQL getTextContent can now translate
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

feat(backend:tools:modeltagsgen): Rework using gen instead of templates for generation
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object2_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object3_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object4_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object5_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/structure.go
  backend/tools/generator/modeltagsgen/gen/gen.go
  backend/tools/generator/modeltagsgen/gen/lib.go
  backend/tools/generator/modeltagsgen/gen/lib_test.go
Due: backend-lint

feat(frontend): Create use hooks for pagination and get search params
  frontend/src/routes/Todos/Todos.tsx
  frontend/src/utils/pagination.ts
  frontend/src/utils/urlSearchParams.ts
Due: frontend-lint

feat(frontend): Create variables for initial sorts and filter
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

feat(backend:messagebus:amqp): Allow consume not in routines
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

feat(frontend): Clean deprecated code
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
Due: frontend-lint

feat(frontend): Regenerate snapshots
  frontend/src/components/CenterLoading/__snapshots__/CenterLoading.test.tsx.snap
  frontend/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  frontend/src/components/NoData/__snapshots__/NoData.test.tsx.snap
  frontend/src/components/NotFoundRoute/__snapshots__/NotFoundRoute.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
Due: none

feat(backend): Modernize code and add makefile recipe
  backend/Makefile
  backend/pkg/golang-graphql-example/common/utils/server.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/server/graphql/utils/connections.go
  backend/pkg/golang-graphql-example/server/graphql/utils/projection.go
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
Due: backend-lint

chore: Release 3.43.0
  .project
Due: none

fix(backend): Fix tempo configuration
  backend/.local-resources/tempo/tempo.yaml
Due: none

fix(backend): Fix modeltagsgen to ensure generation order
  backend/tools/generator/modeltagsgen/gen/gen.go
Due: backend-lint

feat(frontend): Ignore no-continue
  frontend/eslint.config.mjs
Due: none

feat(backend:tools:generator:daogen): Separate Dao interfaces and consider merged result
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat(backend:tools:generator:daogen): Add comments for starting and ending methods block for a specific structure
  backend/pkg/golang-graphql-example/business/todos/daos/dao_generated.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat(frontend): Clean dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend:tools:generator): Switch to right yaml parser
  backend/go.mod
  backend/go.sum
  backend/tools/generator/daogen/config.go
Due: backend-lint

feat: Add pre-commit hook for checking not implemented
  .pre-commit-config.yaml
  .pre-commit/check-not-implemented.sh
Due: none

feat(backend:tools:generator:daogen): Create directory for destination path dao
  backend/tools/generator/daogen/generator.go
Due: backend-lint

feat: wip
  backend/.graphqlgen.yml
  backend/pkg/golang-graphql-example/server/graphql/graphqlgenerated/generated.go
  backend/tools/generator/graphqlgen/config.go
  backend/tools/generator/graphqlgen/generator.go
  backend/tools/generator/graphqlgen/main.go
Due: backend-lint

feat: wip
  backend/pkg/golang-graphql-example/server/graphql/graphqlgenerated/generated.go
  backend/tools/generator/graphqlgen/generator.go
Due: backend-lint

feat: wip
  backend/pkg/golang-graphql-example/server/graphql/graphqlgenerated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils/connections.go
  backend/pkg/golang-graphql-example/server/graphql/utils/connections_test.go
  backend/tools/generator/graphqlgen/generator.go
Due: backend-lint

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
