Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, backend-lint-validate-configuration, frontend-lint, frontend-prettier

backend-lint:
  stages:
  - pre-commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh backend "make code/lint"
  require_serial: false
  language: script
  pass_filenames: false

backend-graphql-concat:
  stages:
  - pre-commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
  require_serial: true
  language: script
  pass_filenames: false

backend-graphql-no-break-check:
  stages:
  - pre-commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
  require_serial: true
  language: script
  pass_filenames: false

backend-lint-validate-configuration:
  stages:
  - pre-commit
  name: Backend validate linter configuration
  entry: ./run-sub-folder-task.sh backend "make code/lint/validate-config"
  require_serial: false
  language: script
  pass_filenames: false

frontend-lint:
  stages:
  - pre-commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh frontend "yarn lint"
  require_serial: false
  language: script
  pass_filenames: false

frontend-prettier:
  stages:
  - pre-commit
  name: Frontend Prettier
  entry: ./run-sub-folder-task.sh frontend "yarn prettier"
  require_serial: false
  language: script
  pass_filenames: false

ci: New right limitations on all CI
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
Due: none

fix(frontend): Fix number management in filters
  frontend/public/i18n-en.json
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/models/general-operations.ts
Due: frontend-lint, frontend-prettier

feat(backend): Regenerate code
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Lint & patch code
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.test.tsx
  frontend/src/utils/urlSearchParams.ts
Due: frontend-lint, frontend-prettier

chore: Release 3.47.0
  .project
Due: none

fix(frontend): Replace MenuItem with Box in Autocomplete component
  frontend/src/components/form/FormAutocomplete/FormAutocomplete.tsx
Due: frontend-lint, frontend-prettier

fix(frontend): Replace MenuItem with Box in FilterBuilderFieldValue
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
Due: frontend-lint, frontend-prettier

fix(backend:server): Fix optimization not working in all cases
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/arrange-results.go
Due: backend-lint

feat: Add new sync dirs hook
  .pre-commit-config.yaml
  .pre-commit/check_sync_dirs.py
Due: none

feat(backend): Add test retry flags on gotestsum
  backend/Makefile
Due: none

feat(backend): Upgrade dependencies, gqlgen and regenerate graphql code
  backend/.mise.toml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Upgrade linter, linter configuration, fix go code, format go code
  backend/.golangci.yaml
  backend/.mise.toml
  backend/Makefile
  backend/pkg/golang-graphql-example/authx/authentication/service_integration_test.go
  backend/pkg/golang-graphql-example/authx/authentication/service_test.go
  backend/pkg/golang-graphql-example/common/errors/conflict-error_test.go
  backend/pkg/golang-graphql-example/common/errors/forbidden-error_test.go
  backend/pkg/golang-graphql-example/common/errors/internal-server-error_test.go
  backend/pkg/golang-graphql-example/common/errors/invalid-input-error_test.go
  backend/pkg/golang-graphql-example/common/errors/locked-error_test.go
  backend/pkg/golang-graphql-example/common/errors/not-found-error_test.go
  backend/pkg/golang-graphql-example/common/errors/too-many-requests-error_test.go
  backend/pkg/golang-graphql-example/common/errors/unauthorized-error_test.go
  backend/pkg/golang-graphql-example/common/utils/server_test.go
  backend/pkg/golang-graphql-example/config/credential-loader_test.go
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
  backend/pkg/golang-graphql-example/database/common/filter-models_test.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/database/common/filter_test.go
  backend/pkg/golang-graphql-example/database/common/projection.go
  backend/pkg/golang-graphql-example/database/common/projection_test.go
  backend/pkg/golang-graphql-example/database/common/sort.go
  backend/pkg/golang-graphql-example/database/common/sort_test.go
  backend/pkg/golang-graphql-example/database/pagination/pagination_test.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql-mutation-create-todo_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql/utils/projection.go
  backend/pkg/golang-graphql-example/server/graphql/utils/projection_test.go
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
  backend/pkg/golang-graphql-example/server/utils_test.go
  backend/tools/generator/daogen/config.go
  backend/tools/generator/daogen/generator.go
Due: backend-lint, backend-lint-validate-configuration

feat(frontend): Upgrade dependencies, linter and patch code
  frontend/.yarn/releases/yarn-4.14.1.cjs
  frontend/.yarn/releases/yarn-4.17.0.cjs
  frontend/.yarnrc.yml
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/TopBar/TopBarUserMenu.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/src/models/config.ts
  frontend/src/models/general-operations.ts
  frontend/src/utils/pagination.ts
  frontend/yarn.lock
Due: frontend-lint, frontend-prettier

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

feat(backend): Add integration vhost for integration tests in rabbitmq
  backend/Makefile
Due: none

feat(frontend): Migrate from prettier to oxfmt
  .pre-commit-config.yaml
  frontend/.mise.toml
  frontend/.oxfmtrc.json
  frontend/package.json
Due: none

feat: Add oxfmt for all git repository
  .pre-commit-config.yaml
  backend/.mise.toml
Due: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

fix(frontend): Fix oxfmt migration
  frontend/package.json
Due: none

feat(frontend): Upgrade dependencies & migrate code
  frontend/.yarnrc.yml
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/filters/internal/types.ts
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/SortForm.test.tsx
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint, frontend-prettier

feat(backend): Regenerate
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Migrate graphql utils into common package, change signature and rename functions
  backend/.graphqlgen.yml
  backend/gqlgen.yml
  backend/pkg/golang-graphql-example/common/graphqlutils/constants.go
  backend/pkg/golang-graphql-example/common/graphqlutils/page-info.go
  backend/pkg/golang-graphql-example/common/graphqlutils/utils.go
  backend/pkg/golang-graphql-example/common/graphqlutils/utils_test.go
  backend/pkg/golang-graphql-example/server/graphql-mutation-create-todo_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/graphqlgenerated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/model/models_gen.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils/complexity.go
Due: backend-lint

feat(backend): Move id prefixes into business
  backend/pkg/golang-graphql-example/business/todos/interface.go
  backend/pkg/golang-graphql-example/server/graphql-mutation-create-todo_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql/mappers/doc.go
  backend/pkg/golang-graphql-example/server/graphql/mappers/id-prefixes.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
Due: backend-lint

feat(backend): Include alwaysFetch option on dbfield in projection manager
  backend/pkg/golang-graphql-example/database/common/projection.go
  backend/pkg/golang-graphql-example/database/common/projection_test.go
  backend/pkg/golang-graphql-example/database/common/tag.go
Due: backend-lint

feat(backend): Add delve in mise setup
  backend/.mise.toml
Due: none

test(frontend): Regenerate snapshots
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
Due: none

fix(backend): Fix common graphqlutils tests and migrate to uuid new major
  backend/CLAUDE.md
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/common/correlation-id/correlation-id.go
  backend/pkg/golang-graphql-example/common/graphqlutils/utils.go
  backend/pkg/golang-graphql-example/common/graphqlutils/utils_test.go
  backend/pkg/golang-graphql-example/database/basemodel-without-all-indexes.go
  backend/pkg/golang-graphql-example/database/basemodel.go
Due: backend-lint

feat(frontend): Upgrade major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Change project common into a general mainTitle
  frontend/public/locales/en/project.json
  frontend/src/components/TopBar/TopBar.tsx
Due: frontend-lint, frontend-prettier

feat(backend): Uncomment fieldalignment
  backend/.mise.toml
Due: none

feat(backend): Install gopls with mise
  backend/.mise.toml
Due: none

chore: Release 3.48.0
  .project
Due: none

fix: Add forgotten backend format in pre-commit
  .pre-commit-config.yaml
Due: none

fix(backend): Fix argument order in ToRelayID function call
  backend/pkg/golang-graphql-example/common/graphqlutils/utils.go
Due: backend-lint

feat: Add Agents.md files
  backend/AGENTS.md
  frontend/AGENTS.md
Due: none

feat(backend): Add automatic xss protection in graphql
  backend/gqlgen.yml
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/utils/string.go
  backend/pkg/golang-graphql-example/server/graphql/utils/string_test.go
Due: backend-lint

style(backend): Lint & format
  backend/pkg/golang-graphql-example/common/errors/conflict-error.go
  backend/pkg/golang-graphql-example/common/errors/forbidden-error.go
  backend/pkg/golang-graphql-example/common/errors/internal-server-error.go
  backend/pkg/golang-graphql-example/common/errors/invalid-input-error.go
  backend/pkg/golang-graphql-example/common/errors/locked-error.go
  backend/pkg/golang-graphql-example/common/errors/not-found-error.go
  backend/pkg/golang-graphql-example/common/errors/too-many-requests-error.go
  backend/pkg/golang-graphql-example/common/errors/unauthorized-error.go
  backend/pkg/golang-graphql-example/common/graphqlutils/utils_test.go
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

feat(backend): Only lint modified files in commit
  .pre-commit-config.yaml
  backend/Makefile
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  backend-lint-validate-configuration: any of: \.golangci\.(?:yml|yaml|toml|json)
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
  frontend-prettier: any of: \.(tsx|ts|js|jsx)$
