Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

feat(backend): Add automaxprocs library to automatically set GOMAXPROCS to match CPU container limits
  backend/cmd/golang-graphql-example/main.go
  backend/go.mod
  backend/go.sum
Due: backend-lint

chore(backend): Clean dependencies sum
  backend/go.sum
Due: none

feat(backend): Add all gosec rules
  backend/.golangci.yaml
Due: none

feat(backend): Add config for revive and fix code
  backend/.golangci.yaml
  backend/cmd/golang-graphql-example/internal-models.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/cmd/golang-graphql-example/target-migrate-db.go
  backend/cmd/golang-graphql-example/target-server.go
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/authx/authorization/service.go
  backend/pkg/golang-graphql-example/business/migration/service.go
  backend/pkg/golang-graphql-example/business/services.go
  backend/pkg/golang-graphql-example/common/correlation-id/correlation-id.go
  backend/pkg/golang-graphql-example/config/impl.go
  backend/pkg/golang-graphql-example/config/validation.go
  backend/pkg/golang-graphql-example/database/basemodel.go
  backend/pkg/golang-graphql-example/email/service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
  backend/pkg/golang-graphql-example/messagebus/amqp/setup.go
  backend/pkg/golang-graphql-example/metrics/promtheus-metrics.go
  backend/pkg/golang-graphql-example/server/custom-health-checker.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders-cache.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/dataloaders.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/middleware.go
  backend/pkg/golang-graphql-example/server/graphql/utils/complexity.go
  backend/pkg/golang-graphql-example/signalhandler/service.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(backend): Prepare configuration for new version of golangci-lint
  backend/.golangci.yaml
Due: none

feat(backend): Upgrade golangci-lint
  backend/Makefile
Due: none

feat(backend): Upgrade dependencies and code
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/sort.go
Due: backend-lint

ci: Upgrade backend linter
  .github/workflows/ci.yml
Due: none

fix(frontend): Fix storybook build
  frontend/src/components/GraphqlErrors/GraphqlErrors.storage.test.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.stories.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.test.tsx
Due: frontend-lint

fix(frontend): Fix test storage file name
  frontend/src/components/GraphqlErrors/GraphqlErrors.storage-test.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.stories.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.test.tsx
Due: frontend-lint

feat(frontend:components:CenterLoading): Add support for subtitle
  frontend/src/components/CenterLoading/CenterLoading.stories.tsx
  frontend/src/components/CenterLoading/CenterLoading.tsx
Due: frontend-lint

feat(frontend:components:CenterLoading): Export props
  frontend/src/components/CenterLoading/index.tsx
Due: frontend-lint

feat(frontend:components:GraphqlErrors): Export props
  frontend/src/components/GraphqlErrors/index.tsx
Due: frontend-lint

feat(frontend:components): Add QueryRedirectTo component and example usage
  frontend/src/App.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/QueryRedirectTo/index.tsx
Due: frontend-lint

feat(frontend): Add full support for react-router in storybook instead of just query params
  frontend/.storybook/main.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

fix(frontend:components:QueryRedirectTo): Fix potential overload of query variables
  frontend/src/App.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
Due: frontend-lint

fix(frontend): Fix jest typescript configuration
  frontend/jest.config.ts
Due: frontend-lint

fix(frontend): Fix jest commands
  frontend/package.json
Due: none

test(frontend): Refactor tests and environment to use @testing-library/react instead of react-test-renderer
  frontend/jest.config.ts
  frontend/jest.setup.js
  frontend/package.json
  frontend/src/components/GraphqlErrors/GraphqlErrors.test.tsx
  frontend/src/components/GraphqlErrors/__snapshots__/GraphqlErrors.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

test(frontend:components:QueryRedirectTo): Add tests
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.test.tsx
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
Due: frontend-lint

fix(frontend:components:QueryRedirectTo): Export props
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/QueryRedirectTo/index.tsx
Due: frontend-lint

test(frontend): Rewrite imports
  frontend/src/components/GraphqlErrors/GraphqlErrors.test.tsx
  frontend/src/components/filters/internal/utils.test.ts
  frontend/src/components/sorts/utils/index.test.ts
  frontend/src/setupTests.ts
Due: frontend-lint

feat(frontend:components:Pagination): Export Props
  frontend/src/components/Pagination/Pagination.tsx
  frontend/src/components/Pagination/index.tsx
Due: frontend-lint

feat(frontend:components:NoData): Export Props
  frontend/src/components/NoData/NoData.tsx
  frontend/src/components/NoData/index.tsx
Due: frontend-lint

fix(frontend:components:QueryRedirectTo): Use NoData instead of creating it again
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
Due: frontend-lint

test(frontend:components:NoData): Add tests
  frontend/src/components/NoData/NoData.test.tsx
  frontend/src/components/NoData/__snapshots__/NoData.test.tsx.snap
Due: frontend-lint

feat(frontend:components:NoData): Add Story
  frontend/src/components/NoData/NoData.stories.tsx
Due: frontend-lint

feat(frontend:components:CenterLoading): Edit story
  frontend/src/components/CenterLoading/CenterLoading.stories.tsx
Due: frontend-lint

feat(frontend:components:Footer): Add story and export props
  frontend/src/components/Footer/Footer.stories.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Footer/index.tsx
Due: frontend-lint

feat: Change pre-commit configuration for trailing whitespace
  .pre-commit-config.yaml
Due: none

test(frontend:components:Footer): Add tests
  frontend/src/components/Footer/Footer.test.tsx
  frontend/src/components/Footer/__snapshots__/Footer.test.tsx.snap
Due: frontend-lint

feat(frontend:components:NotFoundRoute): Add story, tests and export props
  frontend/src/components/NotFoundRoute/NotFoundRoute.stories.tsx
  frontend/src/components/NotFoundRoute/NotFoundRoute.test.tsx
  frontend/src/components/NotFoundRoute/NotFoundRoute.tsx
  frontend/src/components/NotFoundRoute/__snapshots__/NotFoundRoute.test.tsx.snap
  frontend/src/components/NotFoundRoute/index.tsx
Due: frontend-lint

feat(frontend:components): export props in a uniform way
  frontend/src/components/CenterLoading/index.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/ForcedTooltip/index.tsx
  frontend/src/components/GraphqlErrors/index.tsx
  frontend/src/components/HelpTooltipButton/HelpTooltipButton.tsx
  frontend/src/components/HelpTooltipButton/index.tsx
  frontend/src/components/NoData/index.tsx
  frontend/src/components/NotFoundRoute/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/QueryRedirectTo/index.tsx
Due: frontend-lint

feat(frontend:components:MainPageCenterLoading): Add story, tests and export props
  frontend/src/components/MainPageCenterLoading/MainPageCenterLoading.stories.tsx
  frontend/src/components/MainPageCenterLoading/MainPageCenterLoading.test.tsx
  frontend/src/components/MainPageCenterLoading/MainPageCenterLoading.tsx
  frontend/src/components/MainPageCenterLoading/__snapshots__/MainPageCenterLoading.test.tsx.snap
  frontend/src/components/MainPageCenterLoading/index.tsx
Due: frontend-lint

test(frontend:components:CenterLoading): Add tests
  frontend/src/components/CenterLoading/CenterLoading.test.tsx
  frontend/src/components/CenterLoading/__snapshots__/CenterLoading.test.tsx.snap
Due: frontend-lint

feat(frontend:components): Rename GraphqlErrors and support classic errors
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.storage-test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/components/ErrorsDisplay/index.tsx
  frontend/src/components/GraphqlErrors/index.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

feat(frontend:components:ErrorsDisplay): Add classic error case in storybook
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
Due: frontend-lint

feat(frontend:components:Title): Export props, fix style, add story, add tests
  frontend/src/components/Title/Title.stories.tsx
  frontend/src/components/Title/Title.test.tsx
  frontend/src/components/Title/Title.tsx
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/Title/index.tsx
Due: frontend-lint

test(frontend:components:NoData): Fix comments
  frontend/src/components/NoData/NoData.test.tsx
Due: frontend-lint

test(backend): Add go routine leak functionnality in integration tests
  backend/go.mod
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint
