Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

backend-lint:
  stages:
  - commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/lint
  require_serial: true
  language: script

backend-graphql-concat:
  stages:
  - commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/concat
  require_serial: true
  language: script

backend-graphql-no-break-check:
  stages:
  - commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/no-break-check
  require_serial: true
  language: script

feat(backend): Create a common correlation id package
  backend/pkg/golang-graphql-example/common/correlation-id/correlation-id.go
  backend/pkg/golang-graphql-example/common/correlation-id/doc.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/middlewares/correlation-id.go
  backend/pkg/golang-graphql-example/server/middlewares/request-id.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Add support for correlation id as default instead of request id
  backend/pkg/golang-graphql-example/server/middlewares/correlation-id.go
Due: backend-lint

feat(backend): Change request logger fields
  backend/pkg/golang-graphql-example/log/middleware.go
Due: backend-lint

chore: Release 3.18.0
  .project
Due: none

feat(backend): Move all correlation id business to common package
  backend/pkg/golang-graphql-example/common/correlation-id/http-headers.go
  backend/pkg/golang-graphql-example/common/correlation-id/http-middleware.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/middlewares/doc.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix(backend): Add the 2 headers in response and not just request id
  backend/pkg/golang-graphql-example/common/correlation-id/http-middleware.go
Due: backend-lint

fix(backend): Forward correlation id from amqp consume message
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

chore: Release 3.19.0
  .project
Due: none

fix(frontend): Allow big headers in nginx configuration
  frontend/nginx.conf
Due: none

fix(backend:messagebus:amqp): fix error with wrong stack trace
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

feat(messagebus:amqp): manage context canceled for consume
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

chore(backend): Disable concurrent package tests
  backend/Makefile
Due: none

fix(messagebus:amqp): Fix possible infinite loop
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

feat(frontend): Upgrade dependencies and fix linter errors
  frontend/package.json
  frontend/src/components/TopBar/TopBarUserMenu.tsx
  frontend/src/components/theming/IconToggleColorMode/IconToggleColorMode.tsx
  frontend/src/components/theming/ThemeProvider/ThemeProvider.tsx
  frontend/src/components/theming/ToggleColorModeMenuItem/ToggleColorModeMenuItem.tsx
  frontend/src/components/timezone/TimezoneProvider/TimezoneProvider.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/yarn.lock
Due: none

feat(backend): Upgrade dependencies and fix error
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/config/managercontext.go
Due: backend-lint

feat(backend): Rename all initialize methods to have correct names
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/email/client.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/email/service.go
  backend/pkg/golang-graphql-example/lockdistributor/client.go
  backend/pkg/golang-graphql-example/lockdistributor/distributor.go
  backend/pkg/golang-graphql-example/lockdistributor/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/signalhandler/client.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Client.go
  backend/pkg/golang-graphql-example/signalhandler/service.go
  backend/pkg/golang-graphql-example/tracing/client.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(backend:config): Change config package structure
  backend/pkg/golang-graphql-example/config/impl.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
  backend/pkg/golang-graphql-example/config/internal_test.go
  backend/pkg/golang-graphql-example/config/manager.go
Due: backend-lint

tests(backend:config): Rework tests to expect improved stability
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
Due: backend-lint

feat(backend:lockdistributor): Rework to prepare future lock systems
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/business/services.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/client.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/distributor.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/doc.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint

style(backend:config): Fix linter error
  backend/pkg/golang-graphql-example/config/impl.go
Due: backend-lint

feat: Add pipelines and github files
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
Due: none

fix(backend:lockdistributor): Fix package name
  backend/pkg/golang-graphql-example/lockdistributor/sql/client.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/distributor.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/doc.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Due: backend-lint

feat(frontend): Add Help and Info forced tooltip components
  frontend/src/components/HelpForcedTooltip/HelpForcedTooltip.tsx
  frontend/src/components/HelpForcedTooltip/index.tsx
  frontend/src/components/InfoForcedTooltip/InfoForcedTooltip.tsx
  frontend/src/components/InfoForcedTooltip/index.tsx
Due: none

ci: Fix backend test phase
  .github/workflows/ci.yml
Due: none

ci: Start ci on ci changes only
  .github/workflows/ci.yml
Due: none

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: Release 3.20.0
  .project
Due: none

feat: Add default hook on pre-commit
  .pre-commit-config.yaml
Due: none

feat(backend): Disable gzip if not enabled (can save performance)
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Add dependency between setup integration tests and tests
  backend/Makefile
Due: none

feat(backend): Upgrade postgres to v14
  backend/Makefile
Due: none

fix(backend): Fix server null pointer
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

feat(backend): Upgrade linter
  backend/Makefile
Due: none

chore: Release 3.21.0
  .project
Due: none

chore: Upgrade semantic-release & pre-commit & pre-commit hooks
  .pre-commit-config.yaml
  install-deps.sh
  release.sh
Due: none

feat(backend): Add dateformat option for date fields
  backend/gqlgen.yml
  backend/graphql/todo.graphql
  backend/graphql/utils.graphql
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils/date-format.go
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

ci: Upgrade frontend ci
  .github/workflows/ci.yml
Due: none

chore: Release 3.22.0
  .project
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
