Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

feat(backend): Upgrade linter and patch code
  .github/workflows/ci.yml
  backend/Makefile
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

feat(backend:todos): Add patch update usage example
  backend/pkg/golang-graphql-example/business/todos/daos/impl.go
  backend/pkg/golang-graphql-example/business/todos/daos/interface.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/interface.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/service.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
Due: backend-lint

ci: Fix backend ci
  .github/workflows/ci.yml
Due: none

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

test(frontend): Update snapshots
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Upgrade fieldalignment tool
  backend/Makefile
Due: none

feat(backend:database): Add support for replica connections
  backend/conf/database.yml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

fix(backend:database): Trim spaces in database connection urls
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

refactor(backend:database): Rename Soft Delete method
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
Due: backend-lint

fix(backend:signalhandler): Switch a buffered channel for active request counter
  backend/pkg/golang-graphql-example/signalhandler/interface.go
Due: backend-lint

feat(backend:database): Add delta plugin for gorm
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/delta-plugin-base_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-create-or-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-patch-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-permanent-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-soft-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/deltaplugin/plugin.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/database/utils_integration_test.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat(backend): Upgrade services
  backend/Makefile
Due: none

feat(frontend): Upgrade depdencencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(backend): Create pg data folder if not present
  backend/Makefile
Due: none

feat(backend:messagebus:amqp): Consume messages in parallel
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Due: backend-lint

chore: Release 3.32.0
  .project
Due: none

fix(backend): Add forgotten make reference on steps
  backend/Makefile
Due: none

fix: Manage single repo gitleaks configuration
  .gitleaks.toml
Due: none

feat(backend:database): Add support for transaction options
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/mocks/mock_DB.go
  backend/pkg/golang-graphql-example/database/options.go
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

feat(backend:database): Change pagination method to use database service and transactions
  backend/pkg/golang-graphql-example/database/helpers/query.go
  backend/pkg/golang-graphql-example/database/pagination/pagination.go
  backend/pkg/golang-graphql-example/database/pagination/pagination_test.go
  backend/pkg/golang-graphql-example/database/sql-for-tests.go
Due: backend-lint

feat(backend): Upgrade dependencies, patch code and regenerate files
  backend/.golangci.yaml
  backend/Makefile
  backend/cmd/golang-graphql-example/helpers.go
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/main.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.1.1.cjs
  frontend/.yarn/releases/yarn-4.2.2.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

fix(frontend): Fix datagrid custom style integration
  frontend/src/utils/dataGridCommon.ts
Due: frontend-lint

ci: Update actions
  .github/workflows/ci.yml
Due: none

fix(backend:database:helpers): Fix find one filter and projection interaction
  backend/pkg/golang-graphql-example/database/helpers/query.go
Due: backend-lint

feat(backend:database:helpers): Add support for sort in find one helper
  backend/pkg/golang-graphql-example/database/helpers/query.go
Due: backend-lint

refactor(backend:database): Rename PatchUpdate param
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
Due: backend-lint

feat(backend:database:helpers): Add PatchUpdateAllFiltered method
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
  backend/pkg/golang-graphql-example/database/helpers/mutation_test.go
Due: backend-lint

feat(backend): Upgrade dependencies and regenerate files
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Upgrade linter
  .github/workflows/ci.yml
  backend/.golangci.yaml
  backend/Makefile
Due: none

feat(frontend): Upgrade dependencies, update snapshots and yarn
  frontend/.yarn/releases/yarn-4.2.2.cjs
  frontend/.yarn/releases/yarn-4.3.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend): Upgrade alpine in images
  backend/Dockerfile
  backend/Dockerfile.multiarch
Due: none

feat(frontend): Upgrade alpine in images
  frontend/Dockerfile
Due: none
