Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: \.test\.tsx\.snap|\.yarn\/releases\/.*\.cjs$
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
        exclude: \.yarn\/releases\/.*\.cjs$
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: detect-aws-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.1.0
    hooks:
      - id: prettier
        stages: [pre-commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        stages: [pre-commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [pre-commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh backend "make code/lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-graphql-concat
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-graphql-no-break-check
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
        require_serial: true
        language: script
        pass_filenames: false
      - id: frontend-lint
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh frontend "yarn lint"
        require_serial: false
        language: script
        pass_filenames: false

feat(frontend): Dedupe dependencies
  frontend/yarn.lock
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Clean dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat(backend): Add support for string input sanitizer
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/resolver.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

chore: Release 3.37.0
  .project
Due: none

fix(frontend): Remove typescript comments
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
Due: frontend-lint

fix: Add new false positive in bearer ignore
  bearer.ignore
Due: none

feat(backend): Regenerate with new tools
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

chore: Release 3.38.0
  .project
Due: none

fix(backend): Add code climate output format in linter
  backend/.golangci.yaml
Due: none

fix(backend): Patch Makefile for lint gitlab command
  backend/Makefile
Due: none

feat(frontend): Upgrade dependencies & migrate code
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortField/SortField.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/src/routes/Todos/components/GridView/GridView.tsx
  frontend/src/routes/Todos/components/GridView/GridViewItem.tsx
  frontend/vite.config.mts
  frontend/yarn.lock
Due: frontend-lint

fix(frontend:autobreadcrumb): Remove check that is triggered each time
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
Due: frontend-lint

feat(frontend:autobreadcrumb): Improve autobreadcrumb provider code
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
Due: frontend-lint

feat(frontend): Upgrade yarn
  frontend/.yarn/releases/yarn-4.7.0.cjs
  frontend/.yarn/releases/yarn-4.8.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
Due: none

ci: Upgrade golang linter
  .github/workflows/ci.yml
Due: none

feat(backend): Regenerate
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

ci: Upgrade golangci-lint action
  .github/workflows/ci.yml
Due: none

chore: Release 3.39.0
  .project
Due: none

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.8.1.cjs
  frontend/.yarn/releases/yarn-4.9.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend:TopBar): Improve component in order to allow custom top bar user component and to disable user menu
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/TopBar/TopBar.tsx
  frontend/src/components/TopBar/TopBarUserMenu.tsx
Due: frontend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

feat(frontend:components): Rename UserInfo into FakeUserInfo
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/TopBar/components/FakeUserInfo/FakeUserInfo.tsx
  frontend/src/components/TopBar/components/FakeUserInfo/index.tsx
  frontend/src/components/TopBar/components/UserInfo/index.tsx
Due: frontend-lint

fix(frontend:components:TopBar): Fix unexported props
  frontend/src/components/TopBar/TopBar.tsx
  frontend/src/components/TopBar/index.tsx
Due: frontend-lint

feat(frontend:components:TopBar): Add support for Apps button and links
  frontend/public/i18n-en.json
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/TopBar/TopBar.tsx
  frontend/src/components/TopBar/components/AppLinkListItemButton/AppLinkListItemButton.tsx
  frontend/src/components/TopBar/components/AppLinkListItemButton/index.tsx
  frontend/src/components/TopBar/components/AppLinksButton/AppLinksButton.tsx
  frontend/src/components/TopBar/components/AppLinksButton/components/AppLinksPopper/AppLinksPopper.tsx
  frontend/src/components/TopBar/components/AppLinksButton/components/AppLinksPopper/index.tsx
  frontend/src/components/TopBar/components/AppLinksButton/index.tsx
  frontend/src/components/TopBar/index.tsx
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/sorts/utils/index.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Regenerate and clean dependencies
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

chore: Release 3.40.0
  .project
Due: none

feat(frontend:components:TopBar): Allow avatar element to be changed
  frontend/src/components/TopBar/TopBar.tsx
Due: frontend-lint

fix(frontend:components:TopBar:AppLinksButton:AppLinksPopper): Fix menu not overlapping left drawer
  frontend/src/components/TopBar/components/AppLinksButton/components/AppLinksPopper/AppLinksPopper.tsx
Due: frontend-lint

ci: Upgrade golangci-lint
  .github/workflows/ci.yml
Due: none

chore: Deduplicate dependencies & clean dependencies & regenerate
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  frontend/yarn.lock
Due: backend-lint

feat(frontend:components:autobreadcrumb:Autobreadcrumb): Add support for automatic title on page
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
Due: frontend-lint

feat(backend): Update gosec rules
  backend/.golangci.yaml
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

fix(backend): Avoid leak of db password in traces
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(frontend): Add title support in NotFoundRoute component
  frontend/src/components/NotFoundRoute/NotFoundRoute.test.tsx
  frontend/src/components/NotFoundRoute/NotFoundRoute.tsx
Due: frontend-lint

fix(backend): Fix tempo configuration
  backend/.local-resources/tempo/tempo.yaml
Due: none

feat(backend:tracing): Add trace Id into response headers
  backend/pkg/golang-graphql-example/tracing/http-middleware.go
Due: backend-lint
