Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

feat(backend): Upgrade dependencies and tests
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/filter_test.go
Due: backend-lint

feat(backend): Add tracing sampler configuration support
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(backend): Upgrade some dependencies and linter
  backend/.golangci.yaml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/authx/models/oidc-user.go
  backend/pkg/golang-graphql-example/business/todos/service.go
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

chore: Release 3.31.0
  .project
Due: none

fix(backend:graphql:dataloader): Effectively remove opentracing and switch to opentelemetry
  backend/README.md
  backend/go.mod
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/todos/instance.go
Due: backend-lint

feat(backend): Upgrade dependencies & tests
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/filter_test.go
  backend/pkg/golang-graphql-example/database/common/projection_test.go
  backend/pkg/golang-graphql-example/database/common/sort_test.go
  backend/pkg/golang-graphql-example/database/pagination/pagination_test.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.1.0.cjs
  frontend/.yarn/releases/yarn-4.1.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend): Clean dependencies
  backend/go.sum
Due: none

feat(backend): Add support for podman
  backend/Makefile
Due: none

feat(backend): Add support for container multi arch build
  backend/Dockerfile.multiarch
  backend/Makefile
Due: none

fix(backend): Disable CGO to allow multi arch build on arm64
  backend/Makefile
Due: none

feat: Add gitleaks configuration to ignore folders
  .gitleaks.toml
  .gitleaksignore
Due: none

feat(frontend): Upgrade dependencies and rename some files
  frontend/.storybook/main.cts
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.mts
  frontend/yarn.lock
Due: none

feat(backend): Upgrade keycloak
  backend/Makefile
Due: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: Fix CI to use docker and not podman
  .github/workflows/ci.yml
Due: none

ci: Fix backend linter version
  .github/workflows/ci.yml
Due: none

fix(backend): Use forked version of gormigrate
  backend/go.mod
  backend/go.sum
Due: none

fix(backend): Use patched version of gormigrate
  backend/go.mod
  backend/go.sum
Due: none

fix(backend): Fix build multi arch comamnd to use declared platforms
  backend/Makefile
Due: none

fix(backend): Fix ca-certificates package version
  backend/Dockerfile
  backend/Dockerfile.multiarch
Due: none

fix(backend): Remove unnecessary args and environment variables
  backend/Dockerfile.multiarch
Due: none

fix(backend): Clean dependencies
  backend/go.sum
Due: none

fix(backend:database:common): Add validation and error for SortOrderEnum check
  backend/pkg/golang-graphql-example/database/common/sort.go
Due: backend-lint

fix(backend:authx:authentication): Validate redirect hostname to avoid redirect injection
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/authx/authentication/service_test.go
Due: backend-lint

feat(backend:database): Add trace for transactions
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

fix(backend): Fix setup test integration
  backend/Makefile
Due: none

feat(backend): rearrange setup dependencies to have a better split
  backend/Makefile
Due: none

fix(backend): Fix podman build multi arch comamnd
  backend/Makefile
Due: none

fix(backend): Fix docker build multi arch
  backend/Makefile
Due: none

feat: WIP
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/models/todo.go
  backend/pkg/golang-graphql-example/business/todos/prog.go
  backend/tools/generator/modeltagsgen/gen/dev/main.go
  backend/tools/generator/modeltagsgen/gen/dev/structure.go
  backend/tools/generator/modeltagsgen/gen/lib.go
  backend/tools/generator/modeltagsgen/main.go
  backend/tools/generator/modeltagsgen/tpl.go
Due: backend-lint

feat(frontend): Upgrade dependencies and code
  frontend/.storybook/main.cts
  frontend/package.json
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/routes/Todos/components/TableView/TableView.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(backend:todos): Regenerate todos model tags constants
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
Due: backend-lint

feat(backend): Adapt configuration for linter
  backend/.golangci.yaml
Due: none

feat(backend:database): Add json tags on base models
  backend/pkg/golang-graphql-example/database/basemodel-with-all-indexes.go
  backend/pkg/golang-graphql-example/database/basemodel.go
Due: backend-lint

test(backend:generator): Add tests for internal modeltagsgen generator
  backend/tools/generator/modeltagsgen/gen/lib_test.go
Due: backend-lint

feat(backend:database:helpers): Add patch update method
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
  backend/pkg/golang-graphql-example/database/helpers/mutation_test.go
Due: backend-lint

feat(backend): Add model tags generator
  backend/.golangci.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/business/todos/models/todo.go
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/structure.go
  backend/tools/generator/modeltagsgen/gen/lib.go
  backend/tools/generator/modeltagsgen/main.go
  backend/tools/generator/modeltagsgen/tpl.go
Due: backend-lint
