Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

fix(backend): Fully switch to RFC3339Nano internally
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/filter-models_test.go
  backend/pkg/golang-graphql-example/database/common/filter_test.go
Due: backend-lint

chore: Release 3.22.1
  .project
Due: none

feat(backend): Upgrade linter, linter configuration and fix go code
  backend/.golangci.yaml
  backend/Makefile
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend:database:common): Improve support for DateFilter
  backend/pkg/golang-graphql-example/database/common/filter-models.go
  backend/pkg/golang-graphql-example/database/common/filter-models_test.go
Due: backend-lint

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(backend): Add support for gotestfmt for better test visiblity
  .github/workflows/ci.yml
  backend/Makefile
Due: none

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

feat(frontend): Upgrade dependencies and fix code
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/routes/Todos/components/TableView/TableView.tsx
  frontend/yarn.lock
Due: frontend-lint

ci: Fix backend linter phase
  .github/workflows/ci.yml
Due: none

fix(backend): Regenerate and fix resolver not implemented for new date filter
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Add sort list support in backend
  backend/graphql/schema.graphql
  backend/pkg/golang-graphql-example/business/todos/client.go
  backend/pkg/golang-graphql-example/business/todos/daos/client.go
  backend/pkg/golang-graphql-example/business/todos/daos/impl.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/service.go
  backend/pkg/golang-graphql-example/database/common/sort.go
  backend/pkg/golang-graphql-example/database/common/sort_test.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

feat(frontend): Add support for sort list
  frontend/public/i18n-en.json
  frontend/src/components/sorts/SortButton/SortButton.tsx
  frontend/src/components/sorts/SortDialog/SortDialog.tsx
  frontend/src/components/sorts/SortPopper/SortPopper.tsx
  frontend/src/components/sorts/internal/SortField/SortField.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/components/sorts/utils/index.test.ts
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/models/general.ts
  frontend/src/routes/Todos/Todos.tsx
  frontend/src/routes/Todos/components/TableView/TableView.tsx
Due: frontend-lint

feat(backend): Better error management on graphql errors
  backend/go.sum
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix(frontend): Fix possible null pointer on GraphQL Error display
  frontend/src/components/GraphqlErrors/GraphqlErrors.tsx
Due: frontend-lint

feat: Put default charset to utf8
  .editorconfig
Due: none

feat(frontend): Add support for moving up and down sort fields
  frontend/public/i18n-en.json
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/utils/array.ts
Due: frontend-lint

chore: Release 3.23.0
  .project
Due: none

fix(backend:server): Remove unnecessary error catch
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(frontend): Switch from create-react-app to vitejs
  .gitignore
  frontend/.eslintrc
  frontend/index.html
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupProxy.js
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Improve typescript configuration to add import paths
  frontend/src/routes/Todos/Todos.tsx
  frontend/tsconfig.json
Due: frontend-lint

feat(frontend): Add error boundary support for error catching
  frontend/package.json
  frontend/src/components/FallbackErrorBoundary/FallbackErrorBoundary.tsx
  frontend/src/components/FallbackErrorBoundary/index.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Add manual chunks
  frontend/vite.config.ts
Due: frontend-lint

fix(frontend): Clean index.html comments
  frontend/index.html
Due: none

fix(frontend): Fix Dockerfile copy
  frontend/Dockerfile
Due: none

ci: Add support for frontend tests and rename backend test phase
  .github/workflows/ci.yml
Due: none

fix(frontend): Add forgotten preview script
  frontend/package.json
Due: none

fix(frontend): Add forgotten typecript path
  frontend/tsconfig.json
Due: none

feat(frontend): Change imports to new paths
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/routes/Todos/Todos.tsx
Due: frontend-lint

chore: Release 3.24.0
  .project
Due: none

fix(frontend): Fix tsconfig and remove unused dependencies
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/yarn.lock
Due: none

fix(backend:messagebus:amqp): Trim whitespaces in URL
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Due: backend-lint

fix(backend:database): Trim whitespaces in URL
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

feat(backend:config): Change validation order
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/config/impl.go
  backend/pkg/golang-graphql-example/config/internal.go
Due: backend-lint

feat(frontend): Add storybook support
  frontend/.eslintrc
  frontend/.storybook/main.js
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.js
  frontend/.storybook/with-mui-theme.decorator.tsx
  frontend/package.json
  frontend/src/components/CenterLoading/CenterLoading.stories.tsx
  frontend/src/components/CenterLoading/CenterLoading.tsx
  frontend/yarn.lock
Due: frontend-lint

refactor(frontend): Refactor package.json dependencies
  frontend/.eslintrc
  frontend/package.json
Due: none

feat: Improve gitignore
  .gitignore
Due: none

feat(frontend): Improve storybook support, improve component and add tests
  frontend/.storybook/i18next.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/components/AcceptDialog/AcceptDialog.stories.tsx
  frontend/src/components/AcceptDialog/AcceptDialog.tsx
  frontend/src/components/CenterLoading/CenterLoading.stories.tsx
  frontend/src/components/CenterLoading/CenterLoading.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.stories.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.test.tsx
  frontend/src/components/GraphqlErrors/GraphqlErrors.tsx
  frontend/src/components/GraphqlErrors/__snapshots__/GraphqlErrors.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint

ci: Add coverage on frontend tests
  .github/workflows/ci.yml
Due: none

fix(frontend): Fix linter configuration and errors
  frontend/package.json
  frontend/src/components/AcceptDialog/AcceptDialog.stories.tsx
Due: frontend-lint

feat(backend): Add fieldalignment check in linter, fix all field alignment and add fieldalignment fix method
  backend/.golangci.yaml
  backend/Makefile
  backend/pkg/golang-graphql-example/authx/authentication/client.go
  backend/pkg/golang-graphql-example/authx/authorization/middleware.go
  backend/pkg/golang-graphql-example/authx/models/oidc-user.go
  backend/pkg/golang-graphql-example/business/todos/models/general.go
  backend/pkg/golang-graphql-example/common/errors/generic-error.go
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/database/basemodel.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
  backend/pkg/golang-graphql-example/messagebus/amqp/client.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/key.go
  backend/pkg/golang-graphql-example/server/graphql/model/models_gen.go
  backend/pkg/golang-graphql-example/server/graphql/utils/page-info.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/signalhandler/service.go
Due: backend-lint
