Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

backend-lint:
  stages:
  - pre-commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh backend "make code/lint"
  require_serial: false
  language: script
  pass_filenames: false

backend-graphql-concat:
  stages:
  - pre-commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
  require_serial: true
  language: script
  pass_filenames: false

backend-graphql-no-break-check:
  stages:
  - pre-commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
  require_serial: true
  language: script
  pass_filenames: false

frontend-lint:
  stages:
  - pre-commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh frontend "yarn lint"
  require_serial: false
  language: script
  pass_filenames: false

chore: Release 3.35.0
  .project
Due: none

docs(backend:database:common): Fix comment
  backend/pkg/golang-graphql-example/database/common/filter-models.go
Due: backend-lint

feat(backend): Add mapstructure tags on filters
  backend/pkg/golang-graphql-example/database/common/filter-models.go
Due: backend-lint

fix(backend:server): Migrate for new gqlgen version
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix: Update .gitleaksignore
  .gitleaksignore
Due: none

fix: fix gqlgen usage
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix(backend): Fix server
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

feat(backend): Improve model tags generator to add struct key names, lists, options to disable some generators
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object2_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object3_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object4_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/object5_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/structure.go
  backend/tools/generator/modeltagsgen/gen/lib.go
  backend/tools/generator/modeltagsgen/gen/lib_test.go
  backend/tools/generator/modeltagsgen/main.go
  backend/tools/generator/modeltagsgen/tpl.go
Due: backend-lint

feat(backend): Rework gqlgen generation & improve it
  backend/gqlgen.yml
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Regenerate with new tools
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

fix(backend): git tag is now used in application
  backend/Makefile
Due: none

chore: Upgrade dependencies
  backend/.golangci.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

fix(backend): Fix linter errors
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

chore: Release 3.36.0
  .project
Due: none

fix(backend): Disable fieldalignment in mise because it isn't working
  backend/.mise.toml
Due: none

feat(backend): pin golang in mise
  backend/.mise.toml
Due: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

fix(frontend): Disable tsc and keep only eslint
  frontend/package.json
Due: none

fix(backend): rollback golang, generate all code
  backend/.mise.toml
  backend/go.mod
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

fix(backend): pin to non panicking golangci-lint version and change configuration
  backend/.golangci.yaml
  backend/.mise.toml
  backend/pkg/golang-graphql-example/authx/models/oidc-user_test.go
  backend/pkg/golang-graphql-example/common/errors/generic-error-options_test.go
Due: backend-lint

feat(frontend): Minor dependency upgrades
  frontend/package.json
  frontend/src/components/CenterLoading/__snapshots__/CenterLoading.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/MainPageCenterLoading/__snapshots__/MainPageCenterLoading.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

fix(backend): Remove toolchain and set go instead
  backend/go.mod
  backend/go.sum
Due: none

feat(frontend): Upgrade some major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend): Migrate to new loading button
  frontend/src/components/AcceptDialog/AcceptDialog.tsx
Due: frontend-lint

feat: wip
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.storage-test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/index.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/AutoBreadcrumbInjector.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/index.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/index.tsx
  frontend/src/components/autobreadcrumb/contexts/AutoBreadcrumbContext.tsx
  frontend/src/components/autobreadcrumb/index.tsx
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

feat: wip
  frontend/package.json
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/AutoBreadcrumbInjector.tsx
  frontend/src/components/autobreadcrumb/types.ts
  frontend/yarn.lock
Due: frontend-lint

feat: wip
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/AutoBreadcrumbInjector.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
  frontend/src/components/autobreadcrumb/contexts/AutoBreadcrumbContext.tsx
Due: frontend-lint

feat: wip
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/AutoBreadcrumbInjector.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

feat(frontend): Upgrade to react-router v7 and rework auto breadcrumb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/Pagination/Pagination.test.tsx
  frontend/src/components/Pagination/Pagination.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.test.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/TopBar/TopBar.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.storage-test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/index.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/AutoBreadcrumbInjector.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbInjector/index.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/AutoBreadcrumbProvider.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumbProvider/index.tsx
  frontend/src/components/autobreadcrumb/contexts/AutoBreadcrumbContext.tsx
  frontend/src/components/autobreadcrumb/index.tsx
  frontend/src/components/autobreadcrumb/types.ts
  frontend/src/components/drawer/ListNavItemButton/ListNavItemButton.tsx
  frontend/src/index.tsx
  frontend/src/routes/Todos/Todos.tsx
  frontend/src/routes/router-routes.tsx
  frontend/src/utils/pagination.ts
  frontend/src/utils/urlSearchParams.ts
  frontend/yarn.lock
Due: frontend-lint

fix(frontend:components:autobreadcrumb): Fix typescript types
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/index.tsx
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Add correct usage of roboto font and font preload
  frontend/package.json
  frontend/src/index.tsx
  frontend/vite.config.mts
Due: frontend-lint

feat(backend:tracing): Add trace options on start trace method
  backend/pkg/golang-graphql-example/tracing/interface.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/service.go
Due: backend-lint

feat(backend): Upgrade and regenerate
  backend/.golangci.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

ci: Upgrade golang to 1.24
  .github/workflows/ci.yml
Due: none

ci: Upgrade labeler
  .github/workflows/labeler.yml
Due: none

ci: Upgrade linter
  .github/workflows/ci.yml
Due: none

fix(frontend): Fix snapshots
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
Due: none

fix(backend): Fix rego for 1.X
  backend/.local-resources/opa/bundle/example/authz/main.rego
Due: none

chore: fix labeler configuration
  .github/labeler.yml
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
