Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-added-large-files
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: detect-aws-credentials
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        stages: [commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
        stages: [commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.3
    hooks:
      - id: gitleaks
        stages: [commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        stages: [commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        stages: [commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script
      - id: frontend-lint
        stages: [commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh
        args:
          - frontend
          - "yarn lint"
        require_serial: true
        language: script

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(frontend:components:drawer:DrawerContent): Add listItemButtonProps to add more possibilities
  frontend/src/components/drawer/DrawerContent/ListNavItemButton.tsx
Due: frontend-lint

feat(frontend:components:drawer): Export all props
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/index.tsx
  frontend/src/components/drawer/DrawerContent/DrawerContent.tsx
  frontend/src/components/drawer/DrawerContent/ListNavItemButton.tsx
  frontend/src/components/drawer/DrawerContent/index.tsx
  frontend/src/components/drawer/OpenDrawerButton/OpenDrawerButton.tsx
  frontend/src/components/drawer/OpenDrawerButton/index.tsx
Due: frontend-lint

refactor(frontend:components:drawer): Extract ListNavItemButton component
  frontend/src/components/drawer/DrawerContent/index.tsx
  frontend/src/components/drawer/ListNavItemButton/ListNavItemButton.tsx
  frontend/src/components/drawer/ListNavItemButton/index.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
Due: frontend-lint

fix(frontend:components:drawer:PageDrawer): Fix width integration
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
Due: frontend-lint

fix(frontend:components:drawer:PageDrawer): Fix render method signature
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
Due: frontend-lint

feat(frontend:components:drawer:ContentDisplayDrawer): Rework to make it resizable and with a better interface
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
Due: frontend-lint

fix(frontend:components:drawer): Fix props on stories menu
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
Due: frontend-lint

fix(frontend:components:drawer:ContentDisplayDrawer): Fix border size
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
Due: frontend-lint

feat(backend): Upgrade golangci-lint
  backend/.golangci.yaml
  backend/Makefile
  backend/pkg/golang-graphql-example/business/todos/models/general.go
  backend/pkg/golang-graphql-example/config/config.go
Due: backend-lint

feat: Upgrade pre-commit hooks and add new ones
  .pre-commit-config.yaml
Due: none

feat: Upgrade pre-commit
  install-deps.sh
Due: none

feat: Add new pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: Upgrade docker image sources
  backend/Dockerfile
  frontend/Dockerfile
Due: none

ci: Fix golang linter version
  .github/workflows/ci.yml
Due: none

docs(frontend): Change README
  frontend/README.md
Due: none

fix: Remove checkmake pre-commit
  .pre-commit-config.yaml
Due: none

feat: Add junit reports
  .gitignore
  backend/Makefile
  frontend/jest.config.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Remove override package for gqlgen-contrib
  backend/go.mod
  backend/go.sum
Due: none

fix(backend): Fix gqlgen version install
  backend/Makefile
Due: none

fix(frontend:components:drawer:PageDrawer): Change props to have children and toggle drawer in context to allow routes
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/contexts/PageDrawerContext.tsx
Due: frontend-lint

fix(frontend:components:drawer:ContentDisplayDrawer): Fix margin always present
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
Due: frontend-lint

fix(frontend:components:drawer:DrawerContent): Content must be hidden when menu is collapsed
  frontend/src/components/drawer/DrawerContent/DrawerContent.tsx
Due: frontend-lint

chore: Release 3.26.0
  .project
Due: none

fix(frontend:components:drawer:DrawerContent): Fix wrong margin
  frontend/src/components/drawer/DrawerContent/DrawerContent.tsx
Due: frontend-lint

feat(frontend:components:drawer:PageDrawer): Add support for saving if panel is collapsed or not
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
Due: frontend-lint

fix(backend:messagebus:amqp): Catch error of channel already closed but not caught by low level client
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Due: backend-lint

fix(backend:log): Add back stack trace of common errors
  backend/pkg/golang-graphql-example/log/instance.go
Due: backend-lint

fix(backend:messagebus:amqp): Fix error catching conditions
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Due: backend-lint

fix(backend:log): Add back deleted methods
  backend/pkg/golang-graphql-example/log/instance.go
Due: backend-lint

feat(frontend): Add types on contexts
  frontend/src/contexts/ColorModeContext.tsx
  frontend/src/contexts/PageDrawerContext.tsx
  frontend/src/contexts/TimezoneContext.tsx
Due: frontend-lint

rework(frontend:drawer): Create a real context to store collapsed settings
  frontend/src/App.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/index.tsx
  frontend/src/contexts/PageDrawerSettingsContext.tsx
Due: frontend-lint

feat(frontend): Remove dead dependency
  frontend/.eslintrc
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend:tracing): Change implementation to support opentelemetry and jaeger http
  backend/.local-resources/tempo/tempo.yaml
  backend/Makefile
  backend/cmd/golang-graphql-example/setup-services.go
  backend/conf/tracing.yml
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authorization/service.go
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/config/impl.go
  backend/pkg/golang-graphql-example/log/instance.go
  backend/pkg/golang-graphql-example/log/log.go
  backend/pkg/golang-graphql-example/log/tracing-logger.go
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/tracing/global.go
  backend/pkg/golang-graphql-example/tracing/http-middleware.go
  backend/pkg/golang-graphql-example/tracing/interface.go
  backend/pkg/golang-graphql-example/tracing/service.go
  backend/pkg/golang-graphql-example/tracing/trace.go
Due: backend-lint

feat(backend): Add auto configured Grafana
  backend/.local-resources/grafana/datasources.yaml
  backend/Makefile
Due: none
