Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: \.test\.tsx\.snap|\.yarn\/releases\/.*\.cjs$
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
        exclude: \.yarn\/releases\/.*\.cjs$
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: detect-aws-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # Use the sha or branch you want to point at
    rev: v3.1.0
    hooks:
      - id: prettier
        stages: [pre-commit]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        stages: [pre-commit]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: backend-lint
        stages: [pre-commit]
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh backend "make code/lint"
        require_serial: false
        language: script
        pass_filenames: false
      - id: backend-graphql-concat
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
        require_serial: true
        language: script
        pass_filenames: false
      - id: backend-graphql-no-break-check
        stages: [pre-commit]
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
        require_serial: true
        language: script
        pass_filenames: false
      - id: frontend-lint
        stages: [pre-commit]
        files: \.(tsx|ts|js|jsx)$
        name: Frontend lint
        entry: ./run-sub-folder-task.sh frontend "yarn lint"
        require_serial: false
        language: script
        pass_filenames: false

feat(backend:messagebus:amqp): Add a way to add programmatic extra configuration for AMQP broker
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/setup.go
Due: backend-lint

feat(backend:signalhandler): Add a way to have a context that will be cancelled on system stop
  backend/pkg/golang-graphql-example/signalhandler/interface.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/signalhandler/service.go
Due: backend-lint

feat(backend:tools:generator:modeltagsgen): Add way to transform a gorm/json map in the 2 way
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/lib.go
Due: backend-lint

feat(backend:tools:generator:modeltagsgen): Add ignore unsupported error option and create sentinel errors
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/lib.go
Due: backend-lint

fix(backend:tools:generator:modeltagsgen): Change error names to be unique in package
  backend/pkg/golang-graphql-example/business/todos/models/todo_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/dev/dev1_modeltags_generated.go
  backend/tools/generator/modeltagsgen/gen/lib.go
Due: backend-lint

feat(backend:database:deltaplugin): Change structure to add event date with custom json marshal for nanoseconds
  backend/pkg/golang-graphql-example/database/deltaplugin/plugin.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure_test.go
Due: backend-lint

test(backend:database): Fix integration tests for delta plugin
  backend/pkg/golang-graphql-example/database/delta-plugin-create-or-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-patch-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-permanent-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-soft-delete_integration_test.go
Due: backend-lint

test(backend:generator): Fix modeltagsgen tests
  backend/tools/generator/modeltagsgen/gen/lib_test.go
Due: backend-lint

fix(backend:tools:generator:modeltagsgen): Fix forgotten documentation on functions
  backend/tools/generator/modeltagsgen/gen/lib.go
  backend/tools/generator/modeltagsgen/gen/lib_test.go
Due: backend-lint

feat(backend:config): Rework hook system
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/config/internal_integration_test.go
  backend/pkg/golang-graphql-example/config/manager.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
  backend/pkg/golang-graphql-example/config/mocks/mock_MetricsService.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix(backend): Remove dedicated test files from coverage report
  backend/Makefile
Due: none

fix(backend:database): Fix hot reload to avoid closing old database pool if new isn't working
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

feat(frontend): Add vite/rollup plugin to fix build error
  frontend/package.json
  frontend/vite.config.mts
  frontend/yarn.lock
Due: none

feat(frontend:components:ErrorDisplay): Allow to have custom display on specific errors
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.test.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/components/ErrorsDisplay/constants.ts
  frontend/src/components/ErrorsDisplay/index.tsx
Due: frontend-lint

feat(frontend): Remove all default props to use javascript default instead
  frontend/.eslintrc
  frontend/src/components/AcceptDialog/AcceptDialog.tsx
  frontend/src/components/CenterLoading/CenterLoading.tsx
  frontend/src/components/ConfigProvider/ConfigProvider.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/ForcedTooltip/ForcedTooltip.tsx
  frontend/src/components/HelpForcedTooltip/HelpForcedTooltip.tsx
  frontend/src/components/HelpTooltipButton/HelpTooltipButton.tsx
  frontend/src/components/InfoForcedTooltip/InfoForcedTooltip.tsx
  frontend/src/components/MainContentWrapper/MainContentWrapper.tsx
  frontend/src/components/MainPageCenterLoading/MainPageCenterLoading.tsx
  frontend/src/components/NoData/NoData.tsx
  frontend/src/components/NotFoundRoute/NotFoundRoute.tsx
  frontend/src/components/Pagination/Pagination.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/Title/Title.tsx
  frontend/src/components/TopListContainer/TopListContainer.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/DrawerContent/DrawerContent.tsx
  frontend/src/components/drawer/ListNavItemButton/ListNavItemButton.tsx
  frontend/src/components/drawer/OpenDrawerButton/OpenDrawerButton.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/filters/FilterButton/FilterButton.tsx
  frontend/src/components/filters/FilterDialog/FilterDialog.tsx
  frontend/src/components/filters/FilterPopper/FilterPopper.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.tsx
  frontend/src/components/form/FormAutocomplete/FormAutocomplete.tsx
  frontend/src/components/form/FormInput/FormInput.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/GridTableViewSwitcher.tsx
  frontend/src/components/sorts/SortButton/SortButton.tsx
  frontend/src/components/theming/IconToggleColorMode/IconToggleColorMode.tsx
  frontend/src/components/theming/ToggleColorModeMenuItem/ToggleColorModeMenuItem.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
Due: frontend-lint

feat(frontend): Add OneLineLabelValueDisplay component
  frontend/src/components/OneLineLabelValueDisplay/OneLineLabelValueDisplay.stories.tsx
  frontend/src/components/OneLineLabelValueDisplay/OneLineLabelValueDisplay.tsx
  frontend/src/components/OneLineLabelValueDisplay/index.tsx
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.3.0.cjs
  frontend/.yarn/releases/yarn-4.3.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat: Release 3.33.0
  .project
Due: none

fix(backend:database): Execute transaction method must reuse current context
  backend/pkg/golang-graphql-example/database/sql.go
Due: backend-lint

feat: WIP farm
  frontend/farm.config.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Upgrade dependencies and tools
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(backend): Add support for daemon definitions
  backend/cmd/golang-graphql-example/internal-models.go
  backend/cmd/golang-graphql-example/main.go
Due: backend-lint

feat: WIP
  backend/pkg/golang-graphql-example/business/todos/models/todo.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/delta-plugin-create-or-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-patch-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-permanent-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-soft-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/deltaplugin/plugin.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure_test.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/database/transactional-outbox-plugin-base_integration_test.go
  backend/pkg/golang-graphql-example/database/transactional-outbox-plugin-create-or-update_integration_test.go
  backend/pkg/golang-graphql-example/database/transactional-outbox-plugin.go
  backend/pkg/golang-graphql-example/database/transactional-outbox-structure.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.3.1.cjs
  frontend/.yarn/releases/yarn-4.4.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/CenterLoading/__snapshots__/CenterLoading.test.tsx.snap
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/MainPageCenterLoading/__snapshots__/MainPageCenterLoading.test.tsx.snap
  frontend/src/components/NoData/__snapshots__/NoData.test.tsx.snap
  frontend/src/components/NotFoundRoute/__snapshots__/NotFoundRoute.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortField/SortField.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/src/routes/Todos/components/GridView/GridView.tsx
  frontend/src/routes/Todos/components/GridView/GridViewItem.tsx
  frontend/src/utils/dataGridCommon.ts
  frontend/vite.config.mts
  frontend/yarn.lock
Due: frontend-lint

feat(frontend): Add support for images in bundler
  frontend/__mocks__/fileMock.js
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/image-tools.d.ts
  frontend/vite.config.mts
  frontend/yarn.lock
Due: frontend-lint

feat(backend): Upgrade linter & dependencies
  .github/workflows/ci.yml
  backend/.golangci.yaml
  backend/Makefile
  backend/go.mod
  backend/go.sum
Due: none

feat(backend): Remove unusable deltaplugin
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/delta-plugin-base_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-create-or-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-patch-update_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-permanent-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/delta-plugin-soft-delete_integration_test.go
  backend/pkg/golang-graphql-example/database/deltaplugin/plugin.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure.go
  backend/pkg/golang-graphql-example/database/deltaplugin/structure_test.go
  backend/pkg/golang-graphql-example/database/pagination/pagination_test.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Due: backend-lint

chore: Release 3.34.0
  .project
Due: none

feat(frontend): Remove eslint from vite builder
  frontend/package.json
  frontend/vite.config.mts
  frontend/yarn.lock
Due: none

feat(backend): Upgrade dependencies
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.4.1.cjs
  frontend/.yarn/releases/yarn-4.5.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/CenterLoading/__snapshots__/CenterLoading.test.tsx.snap
  frontend/src/components/ErrorsDisplay/__snapshots__/ErrorsDisplay.test.tsx.snap
  frontend/src/components/Footer/__snapshots__/Footer.test.tsx.snap
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/MainPageCenterLoading/__snapshots__/MainPageCenterLoading.test.tsx.snap
  frontend/src/components/NoData/__snapshots__/NoData.test.tsx.snap
  frontend/src/components/NotFoundRoute/__snapshots__/NotFoundRoute.test.tsx.snap
  frontend/src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  frontend/src/components/QueryRedirectTo/__snapshots__/QueryRedirectTo.test.tsx.snap
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/Title/__snapshots__/Title.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/theming/IconToggleColorMode/__snapshots__/IconToggleColorMode.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: frontend-lint
