Repository oxyno-zeta/golang-graphql-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check, frontend-lint

backend-lint:
  stages:
  - pre-commit
  name: Backend Lint
  entry: ./run-sub-folder-task.sh backend "make code/lint"
  require_serial: false
  language: script
  pass_filenames: false

backend-graphql-concat:
  stages:
  - pre-commit
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh backend "make code/graphql/concat"
  require_serial: true
  language: script
  pass_filenames: false

backend-graphql-no-break-check:
  stages:
  - pre-commit
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh backend "make code/graphql/no-break-check"
  require_serial: true
  language: script
  pass_filenames: false

frontend-lint:
  stages:
  - pre-commit
  name: Frontend lint
  entry: ./run-sub-folder-task.sh frontend "yarn lint"
  require_serial: false
  language: script
  pass_filenames: false

chore(frontend): Dedupe dependencies
  frontend/yarn.lock
Due: none

fix(backend:tracing): Do not add trace id in response header when empty
  backend/pkg/golang-graphql-example/tracing/http-middleware.go
Due: backend-lint

feat(backend:database): Consider base model with all indexes as the default one
  backend/pkg/golang-graphql-example/database/basemodel-without-all-indexes.go
  backend/pkg/golang-graphql-example/database/basemodel.go
Due: backend-lint

feat(frontend:components:autobreadcrumb): Add support for override path on specific injection
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/autobreadcrumb/types.ts
Due: frontend-lint

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

chore: Release 3.41.0
  .project
Due: none

test(frontend): Update snapshot
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
Due: none

feat(backend): Regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

style(backend): Rewrite a nolint comment
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

feat(backend:tools:generator:modeltagsgen): Allow to change package name
  backend/tools/generator/modeltagsgen/main.go
Due: backend-lint

feat(backend): Upgrade ginhelmet to new major
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/server.go
Due: backend-lint

fix(frontend): Downgrade storybook dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

feat(backend): Patch code with new linter
  backend/.golangci.yaml
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authorization/service.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/email/service.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders-cache.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Due: backend-lint

feat(backend): Clean dependencies
  backend/go.sum
Due: none

feat(frontend): Upgrade some major dependencies and upgrade snapshots
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/MainPageCenterLoading/__snapshots__/MainPageCenterLoading.test.tsx.snap
  frontend/src/components/StatusChip/__snapshots__/StatusChip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Due: none

feat(frontend): Add support for react-scan
  frontend/package.json
  frontend/src/index.tsx
  frontend/yarn.lock
Due: frontend-lint

ci: Upgrade golang linter
  .github/workflows/ci.yml
Due: none

ci: Upgrade nodejs
  .github/workflows/ci.yml
Due: none

ci: Fix renovate annotation
  .github/workflows/ci.yml
Due: none

ci: Add storybook build step
  .github/workflows/ci.yml
Due: none

chore(frontend): Clean dependencies
  frontend/yarn.lock
Due: none

fix(frontend): Migrate storybook to v9
  frontend/.storybook/main.cts
  frontend/.storybook/preview.ts
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/components/AcceptDialog/AcceptDialog.stories.tsx
  frontend/src/components/CenterLoading/CenterLoading.stories.tsx
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.stories.tsx
  frontend/src/components/Footer/Footer.stories.tsx
  frontend/src/components/HelpForcedTooltip/HelpForcedTooltip.stories.tsx
  frontend/src/components/HelpTooltipButton/HelpTooltipButton.stories.tsx
  frontend/src/components/InfoForcedTooltip/InfoForcedTooltip.stories.tsx
  frontend/src/components/MainPageCenterLoading/MainPageCenterLoading.stories.tsx
  frontend/src/components/NoData/NoData.stories.tsx
  frontend/src/components/NotFoundRoute/NotFoundRoute.stories.tsx
  frontend/src/components/OneLineLabelValueDisplay/OneLineLabelValueDisplay.stories.tsx
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/StatusChip/StatusChip.stories.tsx
  frontend/src/components/Title/Title.stories.tsx
  frontend/src/components/TopBar/TopBar.stories.tsx
  frontend/src/components/autobreadcrumb/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/filters/FilterButton/FilterButton.stories.tsx
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.stories.tsx
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/GridTableViewSwitcher.stories.tsx
  frontend/src/components/sorts/SortButton/SortButton.stories.tsx
  frontend/src/components/theming/IconToggleColorMode/IconToggleColorMode.stories.tsx
  frontend/src/components/theming/ToggleColorModeMenuItem/ToggleColorModeMenuItem.stories.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.stories.tsx
  frontend/yarn.lock
Due: frontend-lint

fix(frontend): Clean dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

chore: Release 3.42.0
  .project
Due: none

feat(frontend): Update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

ci: Upgrade golang to 1.25
  .github/workflows/ci.yml
Due: none

feat(backend): Clean dead exclusions rules in linter
  backend/.golangci.yaml
Due: none

fix(backend): Switch linter to golang 1.25
  backend/.golangci.yaml
Due: none

feat(backend): Add PermanentDeleteFiltered in database helpers
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
Due: backend-lint

feat(backend): Add SoftDeleteFiltered in database helpers
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
Due: backend-lint

feat(backend:tracing): Add GetChildTraceFromContext to easily create child traces
  backend/pkg/golang-graphql-example/tracing/global.go
Due: backend-lint

feat(backend): Declare golang 1.25 in go.mod
  backend/go.mod
Due: none

feat(backend:database:helpers): Add GormOptions on all possible methods, simplify code and add tests
  backend/pkg/golang-graphql-example/database/helpers/mutation.go
  backend/pkg/golang-graphql-example/database/helpers/mutation_test.go
  backend/pkg/golang-graphql-example/database/helpers/options.go
  backend/pkg/golang-graphql-example/database/helpers/query.go
  backend/pkg/golang-graphql-example/database/helpers/query_test.go
Due: backend-lint

feat(backend): Add private endpoint to display configuration
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/server/internal-server.go
Due: backend-lint

feat(backend): Change linter configuration for tags alignment
  backend/.golangci.yaml
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
  frontend-lint: any of: \.(tsx|ts|js|jsx)$
